#bodys{width:995px; padding-bottom:10px; background:#f9ecfe; margin:0 auto;}
#logo{width:995px; float:left; display:inline;}
#ibody{width:995px; float:left; display:inline;}
.pic{width:225px; margin-left:19px; float:left; display:inline;}
.pic img{width:225px; height:150px; border:none;}
.sub{width:975px; margin-top:20px; margin-left:19px; font-size:20px; color:#ff0000; font-weight:bold; line-height:25px; float:left; display:inline;}
.sub a{color:#ff0000; text-decoration:none;}
