body {font-family:宋体; font-size:12px; color:#434343; background:#000000;  margin:0px;}
ul {margin-top:5px; margin-left:9px; list-style-position: inside; list-style-type: square; font-size:12px; float:left; display:inline;}
li{width:200px; line-height:20px;}
a{text-decoration:none; color:#434343;}
#bodys{width:1002px; margin:0 auto; margin-top:10px;}
#logo{width:1002px; height:105px; margin-left:1px; background:url(/images/djlogo.jpg) no-repeat; float:left; display:inline;}
#title{width:973px; height:26px; border:1px solid #99CC33; background:url(/images/bg/kxfzgtitle_bg1.jpg) repeat-x; padding-left:27px; overflow:hidden; float:left; display:inline;}
#title .cl{width:185px; height:16px; text-align:center; margin-top:8px; overflow:hidden; float:left; display:inline;}
#title .cl a{font-size:12px; color:#ffffff; overflow:hidden;}
#content{width:980px; background:#339900; padding-bottom:20px; float:left; display:inline;}
#content #context{width:970px; margin-top:15px; margin-left:15px; margin-right:15px; border:1px solid #99CC33; background:#D7D7D7; padding-bottom:7px; overflow:hidden; float:left; display:inline;}
#content #context #right{width:950px; border:1px solid #A9A9A9; margin-top:7px; padding-bottom:7px; margin-right:7px; background:#ffffff; overflow:hidden; float:right; display:inline;}
#content #context #right .gd{width:950px; height:109px; margin-top:7px; border-top:1px solid #A9A9A9; border-bottom:1px solid #A9A9A9;  float:left; display:inline;}
#content #context #right .gd img{margin-top:10px; margin-left:10px;}
#content #context #right .title{width:440px; height:27px; margin-top:15px; margin-left:15px; padding-top:8px; padding-left:14px; font-size:18px; color:#ffffff; background:url('/images/bg/djindex_title1.jpg') repeat-x; font-weight:bold; float:left; display:inline;}
#content #context #right .title .more{width:30px; font-size:12px;  padding-left:10px; margin-right:10px; margin-top:-15px; no-repeat; float:right; display:inline;}
#content #context #right .title .more a{color:#ffffff; float:right; display:inline;}
#content #context #right .pic{width:98px; height:90px; margin-top:5px; margin-left:15px; padding:4px; border:1px solid #A9A9A9; background:#ffffff; float:left; display:inline;}
#content #context #right .bg{width:950px; margin-top:5px; padding-bottom:10px;  float:left; display:inline;}
#content #context #right #contenttitle{width:920px;  height:27px; margin-top:5px; margin-left:3px; padding-top:8px; padding-left:14px; font-size:18px; color:#ffffff; background:url('/images/bg/djindex_title1.jpg') repeat-x; font-weight:bold; float:left; display:inline;}
#content #content5{width:940px; height:15px; margin-left:5px; text-align:center; color:#0071B5; float:left;display:inline}
#content #content5 A{color:#0071B5;}
#content .content7{width:920px; margin-top:10px; margin-left:10px; padding-bottom:10px; border:1px solid #DEDBDE; background:#ffffff;  float:left; display:inline;}
#content .content7 .name{width:400px; height:20px; margin-top:5px; margin-left:15px; float:left; display:inline;}
#content .content7 .name A{color:#0071B5;}
#content .content7 .time{width:150px; height:20px; margin-top:5px; margin-right:50px; text-align:right; color:#0071B5; float:right; display:inline;}
#content .content7 .context{width:850px; margin-top:5px; margin-left:15px; line-height:18px; float:left; display:inline;}
#content #content9 {width:920px; height:20px; margin-top:8px; margin-left:25px; float:left; display:inline;}
#content #content10{width:920px; margin-top:8px; margin-left:25px; float:left; display:inline;}
#content #content10 #plleft{float:left; display:inline;}
#content #content10 textarea{width:850px; height:100px; float:left; display:inline;}
#content #content11{width:44px; height:18px; margin-top:3px; margin-left:60px;  background:url(/images/btn/btn1.jpg) no-repeat; float:left; display:inline;}
#bottom{width:1002px; height:53px; font-size:12px; padding-top:15px; color:#ffffff; background:#911F07; text-align:center; float:left; display:inline;}
.pageurl{width:700px;float:left;text-align:center;margin-top:10px;}
