bodys{font-size:12px;  font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}

#ibody{width:1250px; height:1856px; background:url('/subject/qyh/images/qyh_bg.jpg') no-repeat; margin:0 auto;}
#qyh_index{width:945px; height:1159px; margin-top:10px; margin-left:152px; background:url('/subject/qyh/images/content_bg.jpg') no-repeat;  float:left; display:inline;}
#index_top{width:929px; height:324px; margin-top:5px; margin-left:8px; background:url('/subject/qyh/images/index_top.jpg') no-repeat; float:left; display:inline;}
#index_top .index_t_title{width:890px; height:22px; margin-top:5px; margin-left:10px; font-size:18px; font-weight:bold; line-height:22px; float:left; display:inline;}
#index_top .index_t_title a{color:#fbc43c; text-decoration:none;}
#index_top #t_l_pic{width:410px; height:248px; margin-top:10px; margin-left:10px; background:url('/subject/qyh/images/index_t_l_pic.jpg') no-repeat; float:left; display:inline;}
#index_top #t_l_pic img{width:394px; height:233px; margin-top:6px; margin-left:7px;}
