#itop{width:1250px; height:220px; float:left; display:inline;}
#logo{width:1250px; height:172px; background:url('/subject/qyh/images/logo.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#top_title{width:948px; height:37px; margin-top:10px; background:url(/subject/qyh/images/title_bg.jpg) no-repeat; margin-left:151px; overflow:hidden; float:left; display:inline;}
#top_title #dh{width:831px; height:18px; margin-top:10px; margin-left:70px; font-size:14px; line-height:18px; float:left; display:inline;}
#top_title #dh a{margin-right:57px; color:#fff799; text-decoration:none;}