body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}

#ibody{width:995px; height:830px; border:1px #D8DFEA solid; margin:0 auto; margin-top:15px;}

.l{width:751px; float:left; display:inline;}
.r{width:244px; height:784px; background:url(/images/server/calendar_2.jpg); float:left;  display:inline;}

.l #title{width:751px; height:111px; background:url(/images/server/calendar_1.jpg) no-repeat; float:left;  display:inline;}
.l #menu{width:730px; height:31px; margin-left:20px; border-bottom:1px solid #D8DFEA; float:left; display:inline;}
.l #menu1{width:140px; height:25px; padding-top:5px; text-align:center; font-size:16px; line-height:20px; border:1px solid #666666; border-bottom:1px solid #ffffff; float:left; display:inline;}
.l #menu2{width:140px; height:25px; padding-top:5px; margin-left:2px; text-align:center; font-size:16px; line-height:20px; background:#f3f3f3; border:1px solid #666666;  border-bottom:none; float:left; display:inline;}
.l #menu2 a{ text-decoration:none;color:#000;}
.l #contrl{width:120px; height:25px; margin-left:80px; cursor:pointer; line-height:25px; font-size:14px; color:#666666; font-weight:bolder; float:left; display:inline;}
.l #date{width:240px; height:25px; text-align:center; font-size:20px; font-weight:bold; line-height:20px; float:right; display:inline;}
.l #month{width:731px; height:29px; margin-top:10px; margin-left:20px; font-size:16px; font-weight:bold; background-color:#F1F1F1; border-top:1px #898989 solid;  border-bottom:1px #898989 solid; text-align:center; float:left;  display:inline;}
.l #week{width:731px; height:30px; margin-left:20px; float:left; display:inline;}
.l .weeks{width:103px; height:30px; margin-top:5px; font-size:14px; line-height:20px; font-weight:bold; text-align:center; float:left; display:inline;}
.l #context{width:731px; padding-top:10px; padding-bottom:10px; margin-left:20px; line-height:20px; float:left; display:inline;}
.l #context .box{width:731px; height:60px; border-bottom:1px solid #E1E7EF;}
.l #context .box .gift{width:23px; height:21px; margin-top:25px; margin-left:5px; background:url(/images/server/gift.gif); float:left; display:inline;}
.l #context .box .info{ height:20px; margin-top:30px; margin-left:8px; line-height:20px; float:left; display:inline;}
.l #context .box .info .giver{width:50px; height:20px; line-height:20px; color:#336699; text-align:center; overflow:hidden; float:left; display:inline;}
.l #context .box .picture{width:55px; height:55px; margin-left:10px; float:left; display:inline;}
.l #context .box .message{width:300px; height:20px; margin-top:30px; margin-left:15px; color:#666666; overflow:hidden; line-height:20px; float:left; display:inline;}
.l #context .box .date{height:20px; margin-top:30px; margin-left:30px; color:#666666; line-height:20px; float:left; display:inline;}

#paginate{margin-left:230px; margin-top:30px; float:left; display:inline;}
#paginate a{ color:#000000; text-decoration:none;}
