body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; background:#000000; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}

#ibody{width:980px; margin:0 auto; margin-top:10px; line-height:20px;}

#ibody_top{width:980px; height:580px; margin-top:10px; background:url('/images/show/video_bg.jpg') no-repeat; float:left; display:inline;}
#ibody_left{width:590px; margin-top:10px; padding-bottom:20px; float:left; display:inline;}
#ibody_left a{ text-decoration:none;}
#ibody_right{width:380px; padding-bottom:20px;  float:right; display:inline;}

#t_c{width:537px; margin-top:65px; margin-left:223px; float:left; display:inline;}
#t_c .video{ float:left; display:inline;}
#t_c .video #error{ font-size:20px; font-weight:bolder; color:#FF0000}
#t_c .digg{width:537px; margin-top:50px; float:left; display:inline;}
#t_c .digg #flower{width:40px; height:25px; margin-left:100px; padding-left:55px; padding-top:4px; font-size:15px; color:#FF0000; font-weight:bolder; background:url('/images/show/flower.jpg'); cursor:pointer; float:left; display:inline;}
#t_c .digg #tomato{width:40px; height:25px; margin-left:90px; padding-left:55px; padding-top:4px; font-size:15px; color:#999999; font-weight:bolder; background:url('/images/show/tomato.jpg'); cursor:pointer; float:left; display:inline;}
#t_r{margin-top:20px; margin-left:20px; float:left; display:inline;}
#t_r #up_pic{margin-top:10px; float:left; display:inline;}
#t_r #ad{ float:left; display:inline;}




#l_t{width:570px; padding-bottom:10px; background:#E8E7E3; border:10px solid #F37916; float:left; display:inline; font-family:黑体;}
#l_t .title{width:550px; height:10px; padding:10px; line-height:15px; font-size:15px; float:left; display:inline;}
#l_t .content{width:570px; font-size:13px; color:#666666; float:left; display:inline;}
#l_t .content .title{width:auto; height:auto; padding:0; margin-left:15px; font-size:13px; float:left; display:inline;}
#l_t .content .bottom{width:570px; padding-bottom:10px; float:left; display:inline;}
#l_t .content .bottom #description{width:480px; line-height:15px; overflow:hidden; float:left; display:inline;}
#l_t .content .bottom #description p{margin:0; padding:0;}
#l_t .content .center{width:570px; height:30px; margin-top:10px; float:left; display:inline;}
#l_t .content .center .left{width:190px; float:left; display:inline;}
#l_t .content .center .left #publisher{width:100px; font-size:13px; color:#0093BB;  line-height:15px; font-weight:bolder; float:left; display:inline;}
#l_t .content .center .middle{width:190px; float:left; display:inline;}
#l_t .content .center .middle #date{width:100px; font-size:13px; color:#FF6600;  line-height:15px; font-weight:bolder; float:left; display:inline;}
#l_t .content .center .right{width:190px; float:left; display:inline;}
#l_t .content .center .right #count{font-weight:bolder;  line-height:15px; color:#FF6600; float:left; display:inline;}
#l_t .content .top{width:570px; float:left; display:inline;}
#l_t .content .top #name{width:550px; height:30px; margin-left:15px;line-height:25px;  float:left; display:inline; overflow:hidden;}

#l_b{width:570px; margin-top:10px; padding-bottom:30px; background:#E8E7E3; border:10px solid #F37916; float:left; display:inline;}
#l_b .title{width:530px; height:10px; padding:10px; line-height:15px; font-size:15px; font-family:黑体; float:left; display:inline;}
#l_b .content{width:550px; padding-bottom:5px; font-size:13px; margin-left:10px; border-top:1px solid #dddddd; color:#666666; float:left; display:inline;}
#l_b .content .nick_name{width:auto; height:20px; margin-left:10px; margin-top:10px; color:#0093BB; font-size:13px; overflow:hidden; line-height:20px; float:left; display:inline;}
#l_b .content .time{width:300px; height:20px; margin-top:10px; margin-left:10px; color:#666666; font-size:13px; overflow:hidden; line-height:20px; float:left; display:inline;}
#l_b .content .comment{width:500px; margin-left:10px; margin-top:5px; word-wrap:break-word; color:#000000; font-size:13px; line-height:15px; overflow:hidden; float:left; display:inline;}
#l_b #backtop{width:570px; text-align:right; float:left; display:inline;}
#l_b #backtop a{color:#ffffff; text-decoration:none;}
#l_b #comment_box{width:550px; padding-bottom:10px; margin-left:10px; margin-top:20px; background:#ffffff; float:left; display:inline;}
#l_b #comment_box #commit_fck{width:530px; margin-left:5px;}
#l_b #comment_box #fqbq{width:530px; margin-left:5px;}
#l_b #comment_box #commenter_box{width:530px; margin-left:5px; margin-bottom:10px; margin-top:10px; color:#666666; font-size:13px;}
#l_b #comment_box #submit_comment{width:80px; cursor:pointer; height:29px; margin-left:5px; margin-top:12px; background:url(/images/show/comment_button.jpg)}
#l_b #paginate{width:400px; margin-left:100px; float:left; display:inline;}
#l_b #paginate a{color:#000000}

#r_t{width:350px;  margin-top:10px; padding:10px; background:#E8E7E3; border:10px solid #F37916; float:left; display:inline; font-family:黑体;}
#r_t .title{width:300px; height:20px; line-height:15px; font-size:15px; float:left; display:inline;}
#r_t .more{height:20px; line-height:15px; font-size:15px; float:right; display:inline; }
#r_t .more a{color:#FF6600; text-decoration:none;}
#r_t .content{width:100px; height:100px; margin:8px; float:left; display:inline;}
#r_t .content .box{width:100px; height:66px; background:#ffffff; border:1px solid #CCCCCC; float:left; display:inline;}
#r_t .content .box .photo{width:90px; height:56px; margin:5px; float:left; display:inline;}
#r_t .content .title{width:100px; height:30px; margin-top:5px; line-height:15px; font-size:13px; text-align:center; overflow:hidden; }
#r_t .content .title a{color:#0093BB;}

#r_b{width:350px;  margin-top:10px; padding:10px; background:#E8E7E3; border:10px solid #F37916; float:left; display:inline; font-family:黑体;}
#r_b .title{width:300px; height:20px; line-height:15px; font-size:15px; float:left; display:inline;}
#r_b .more{height:20px; line-height:15px; font-size:15px; float:right; display:inline; }
#r_b .more a{color:#FF6600; text-decoration:none;}
#r_b .content{width:100px; height:100px; margin:8px; float:left; display:inline;}
#r_b .content .box{width:100px; height:66px; background:#ffffff; border:1px solid #CCCCCC; float:left; display:inline;}
#r_b .content .box .photo{width:90px; height:56px; margin:5px; float:left; display:inline;}
#r_b .content .title{width:100px; height:30px; margin-top:5px; line-height:15px; font-size:13px; text-align:center; overflow:hidden; }
#r_b .content .title a{color:#0093BB;}


#up_pic{margin-top:10px; float:left; display:inline;}