body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000; background:#faffc6;}
P{margin:0px; padding:0px;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}
#ibody{width:1280px; padding-bottom:10px; background:url('/images/baby/babyshow_bg.jpg') repeat-x; float:left; display:inline;}
#logo{width:1280px; height:176px; background:url('/images/baby/logo.jpg') no-repeat; float:left; display:inline;}
#ileft{width:138px; height:390px; margin-top:20px; margin-left:180px; background:#fcf9e6; border:1px solid #ebe6c9; float:left; display:inline;}
#ileft #photo{width:60px; height:15px; font-size:13px; padding-left:18px; margin-top:30px; margin-left:15px; line-height:15px; background:url('/images/baby/photo.jpg') no-repeat; float:left; display:inline;}
#ileft #photo a{color:#2c629e; text-decoration:none;}
#ileft #log{width:50px; height:15px; font-size:13px; padding-left:18px; margin-top:30px; margin-left:15px; line-height:15px; background:url('/images/baby/log.jpg') no-repeat; float:left; display:inline;}
#ileft #log a{color:#2c629e; text-decoration:none;}
#ileft .upload{width:30px; height:15px; margin-top:30px; margin-right:10px; line-height:15px; float:right; display:inline;}
#ileft .upload a{color:#999999; text-decoration:none;}

#iright{width:815px; margin-top:20px; padding-bottom:10px; margin-left:15px; line-height:20px; background:#ffffff; float:left; display:inline;}
#iright #title{width:650px; height:25px; font-size:13px; font-weight:bold; margin-top:5px; padding-left:20px; margin-left:15px; line-height:25px; background:url('/images/baby/photo.jpg') 0 5px no-repeat; float:left; display:inline;}
#iright #title1{width:650px; height:25px; font-size:13px; font-weight:bold; margin-top:5px; padding-left:20px; margin-left:15px; line-height:25px; background:url('/images/baby/log.jpg') 0 5px no-repeat; float:left; display:inline;}
#iright #addphoto{width:95px; height:25px; cursor:pointer; margin-top:10px; margin-right:10px; background:url('/images/baby/photo_add.jpg') no-repeat; overflow:hidden; float:right; display:inline;}
#iright #addact{width:95px; height:25px; cursor:pointer; margin-top:10px; margin-right:10px; background:url('/images/baby/act_add.jpg') no-repeat; overflow:hidden; float:right; display:inline;}
#iright .pic{width:106px; margin-top:20px; margin-left:78px; float:left; display:inline;}
#iright .pic img{width:106px; height:72px; border:none;}
#iright .pictitle{width:106px; line-height:20px; float:left; display:inline;}
#iright .pictitle a{color:#000000; text-decoration:none;}
#iright .pic .edit{width:106px; height:20px; text-align:center; float:left; display:inline;}
#iright .pic .edit a{color:#0000ff;}
#iright .pic .edit span{color:#0000ff; cursor:pointer; text-decoration:underline;}
#iright table{width:800px; margin-left:10px; float:left; display:inline;}
#iright button{width:85px; height:24px; text-align:center; border:0px; line-height:24px; background:#ff8901; color:#ffffff; float:left; display:inline;}
#iright .listcontent{width:800px; height:20px; margin-left:10px; line-height:20px; float:left; display:inline;}
#iright .listtitle{width:600px; height:20px; line-height:20px; overflow:hidden; float:left; display:inline;}
#iright .listtitle a{color:#000000; text-decoration:none;}
#iright .listtime{width:80px; height:20px; text-align:center; line-height:20px; color:#cccccc; overflow:hidden; float:left; display:inline;}
#iright .listcz{width:120px; height:20px; text-align:center; float:right; display:inline;}
#iright .listcz a{color:#0000ff;}
#iright .listcz span{color:#0000ff; cursor:pointer;}
#iright .listcontent #content_title{width:800px; height:30px; margin-left:10px; line-height:30px; text-align:center; font-size:26px; font-weight:bold; float:left; display:inline;}
#iright .listcontent #content_content{width:800px; margin-left:10px; float:left; display:inline;}
#iright #comment_sub{margin-top:10px; margin-right:10px; border:0px; background:#ffffff; line-height:20px; float:right; display:inline;}
#iright #comment{width:778px; margin-top:10px; margin-left:20px; border:1px solid #DDDDDD; border-bottom:none; background:#ffffff; float:left; display:inline;}
#iright #comment img{margin-top:5px; cursor:pointer;}
#iright .content{width:770px; margin-left:10px; border-bottom:1px solid #dddddd; float:left; display:inline;}
#iright .content .title1{width:750px; height:30px; margin-top:5px; margin-left:10px; line-height:30px; background:url('/images/news/news_comment_title.jpg') no-repeat; float:left; display:inline;}
#iright .content .title2{width:750px; height:30px; margin-top:5px; margin-left:10px; line-height:30px; float:left; display:inline;}
#iright .content .context{width:745px; margin-top:10px; margin-left:10px; padding-bottom:5px; line-height:20px; float:left; display:inline;}
#iright .aboutcontent{width:743px; margin-top:5px; margin-left:20px; border:1px solid #CCCCCC; float:left; display:inline;}
#iright .aboutcontent .title{width:713px; height:26px; margin-top:10px;  margin-left:10px; margin-bottom:10px; padding-left:10px; line-height:26px; font-size:12px; color:#000000; text-align:left; background:#CCCCCC; float:left; display:inline;}
#iright .aboutcontent .content{width:725px; height:20px; margin-left:10px; line-height:20px; overflow:hidden; float:left; display:inline;}
#iright .aboutcontent .content a{color:#000000; font-size:14px; text-decoration:none;}
#iright .aboutcontent input{width:440px; height:16px; margin-left:14px; border:1px solid #CDCDCD; float:left;}
#iright .aboutcontent #fqbq{width:715px; margin-top:5px; margin-left:14px; float:left; display:inline;}
#iright .aboutcontent button{margin-top:10px; margin-right:15px; border:1px solid #cccccc; color:#000000; line-height:20px; float:right; display:inline;}
#iright .abouttitle{width:735px; height:23px; margin-top:10px; margin-left:20px; padding-left:10px; line-height:23px; color:#ffffff; font-weight:bold; font-size:14px; background:#C2130E; float:left; display:inline;}
