body {
	line-height:0;
}
#answer{width:995px; margin:0 auto; line-height:15px;}
#left{width:650px; margin-top:10px; padding-bottom:10px; border:1px solid #D8DFEA; float:left; display:inline;}
.vote_items_box{text-align:center; width:650px;}
#pic{width:400px; margin:0 auto; overflow:hidden; text-align:center;}
.vote_title{font-weight:bold;font-size:14px;margin-top:5px;}
.vote_item{width:500px; line-height:15px; padding:0; margin-top:10px; margin-left:50px; text-align:left; float:left; display:inline;}
.vote_item .input_vote_item{wdith:450px; padding:0; line-height:30px; float:left; display:inline;}
#description{width:500px; margin-left:100px; margin-top:20px; padding-bottom:10px; text-align:left; float:left; display:inline; }
#tb{width:995px; line-height:20px; text-align:center; margin:0 auto;}
#tb a{color:#000000; text-decoration:none;}
#tb button{margin-top:10px;}