body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}

#ibody{width:995px; line-height:12px; margin:0 auto; margin-top:10px;}


#ibody_left{width:285px; margin-top:8px; padding-bottom:20px; float:left; display:inline;}
#ibody_right{width:710px; padding-bottom:20px; float:right; display:inline;}


#l_t{width:276px; height:235px; margin-top:3px; float:left; display:inline;}

#l_m{width:276px; height:180px; margin-top:10px; float:left; display:inline;}

.l_b{width:273px; margin-top:15px; border:1px solid #dfdfdf; float:left; display:inline;}
.l_b .title{width:253px; height:20px; padding:10px; color:#141414; font-weight:bold; font-size:15px; border-bottom:1px solid #DFDFDF; float:left; display:inline;}
.l_b .title .left{width:200px; float:left; display:inline; line-height:15px;}
.l_b .title .more{width:50px; margin-top:2px; font-size:12px; float:right; display:inline;}
.l_b .title .more a{color:#FF6600; line-height:15px;}
.l_b .content{width:253px; margin-left:10px; padding-bottom:10px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
.l_b .content .left{width:16px; height:13px; margin-top:10px; text-align:center; line-height:13px; font-weight:bold;  color:#ffffff; background:url('/images/icon/show_wxwxzy.jpg') no-repeat; float:left; display:inline;}
.l_b .content .middle{width:44px; height:44px; margin-top:10px; margin-left:5px; border:1px solid #C6C6C8; float:left; display:inline;}
.l_b .content .middle img{margin-top:2px; margin-left:2px;}
.l_b .content .right{width:178px; margin-top:10px; margin-left:5px; float:left; display:inline;}
.l_b .content .right .top{width:170px; height:15px; overflow:hidden; line-height:15px; float:left; display:inline;}
.l_b .content  .top a{color:#666666; font-weight:bold;}
.l_b .content .right .bottom{width:170px; line-height:15px; color:#9D9D9D; font-weight:bold; float:left; display:inline;}
	
#r{width:710px; background:url(/images/show/bg_1.jpg) no-repeat; float:right; display:inline;}
#r .title{width:690px; height:20px; margin-top:20px; padding:10px; color:#141414; font-weight:bold; font-size:15px; float:left; display:inline;}
#r .title .left{float:left; margin-left:15px; border-right:1px solid #dfdfdf; display:inline; line-height:15px;}
#r .title .more{width:50px; margin-top:2px; font-size:12px; float:right; display:inline;}
#r .title .more a{color:#FF6600; line-height:15px;}
#r .content{width:670px; font-size:12px; margin-left:20px; maring-top:5px; font-size:13px; border-bottom:1px dashed #EFEFEF; line-height:25px; float:left; display:inline;}
#r .content .pic{width:140px; height:80px; float:left; display:inline;}
#r .content .left{width:450px; height:25px; margin-left:12px; overflow:hidden; float:left; display:inline;}
#r .content .left a{color:#000000; text-decoration:none; font-size:12px; line-height:12px;}
#r .content .right{width:150px; height:25x; margin-left:50px; color:#A9A9A9; float:left; display:inline;}

#paginate{ margin-left:200px; margin-top:50px; float:left; display:inline;}
#paginate a{color:#000000;}




