body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}

#ibody{width:995px; height:1180px; margin:0 auto; margin-top:10px; line-height:20px;}

#ibody_bottom{width:995px; float:left; display:inline;}
#ibody_left{width:296px; margin-top:10px; float:left; display:inline;}
#ibody_left a{ text-decoration:none;}
#ibody_right{width:680px; background:url('/images/show/show_index_r.jpg') no-repeat; float:right; display:inline;}

#ibody_top{width:995px; height:240px; float:left; display:inline;}

#t_l{width:475px; height:232px; margin-top:-2px; margin-left:-2px; float:left; display:inline;}
#t_l .img{width:110px; height:72px; margin:1px; border:1px solid #D0D0D0; padding:2px; float:left; display:inline;}
#t_r{width:518px; height:236px; float:right; display:inline;}

#l_t{width:285px; border:1px solid #EBEBEB;  float:left; display:inline;}
#l_t #top{width:285px; color:#FF0000; float:left; display:inline;}
#l_t .content{width:265px; padding:0; margin:10px; float:left; display:inline;}

.l_m{width:285px; margin-top:10px; border:1px solid #DFDFDF; float:left; display:inline;}
.l_m a{text-decoration:none;}
.l_m .title{width:265px; height:20px; padding:10px; color:#141414; font-weight:bold; font-size:15px; border-bottom:1px solid #DFDFDF; float:left; display:inline;}
.l_m .title .left{width:215px; float:left; display:inline;}
.l_m .title .more{width:50px; margin-top:2px; font-size:12px; float:right; display:inline;}
.l_m .title .more a{color:#FF6600;}
.l_m .content{width:265px; margin-left:10px; padding-bottom:10px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
.l_m .content .left{width:16px; height:13px; margin-top:10px; text-align:center; line-height:13px; font-weight:bold;  color:#ffffff; background:url('/images/icon/show_wxwxzy.jpg') no-repeat; float:left; display:inline;}
.l_m .content .right{width:190px; margin-top:5px; margin-left:20px; float:left; display:inline;}
.l_m .content .right .top{width:190px; color:#666666; font-weight:bold; float:left; display:inline;}
.l_m .content .right .bottom{width:190px; color:#9D9D9D; font-weight:bold; float:left; display:inline;}

.l_m2{width:285px; margin-top:15px; float:left; display:inline;}
#r_t{width:680px;  color:#141414; font-weight:bold; font-size:15px; float:left; display:inline;}
#r_t .left{width:600px; margin-top:20px; margin-left:20px; float:left; display:inline;}
#r_t .more{width:40px; margin-top:22px; margin-right:20px; font-size:12px; float:right; display:inline;}
#r_t .more a{color:#FF6600; text-decoration:none;}

.r_b{width:680px; float:left; display:inline; }
.r_b .content{width:130px; float:left; margin-left:30px; margin-top:10px; display:inline;}
.r_b .content .pic{width:120px; height:75px; padding:5px; border:1px solid #CCCCCC; float:left; display:inline;}
.r_b .content .title{width:130px; height:20px; line-height:20px; text-align:center; overflow:hidden; float:left; display:inline;}
.r_b .content .title a{color:#0099BB;}
.r_b .content .keywords{width:130px; height:20px; line-height:20px; text-align:center; color:#666666; overflow:hidden; float:left; display:inline;}
.r_b .content .publisher{width:130px; height:20px; line-height:20px; text-align:center; color:#FF0000; overflow:hidden; float:left; display:inline;}

#paginate{width:500px; margin-left:140px; margin-top:40px; float:left; display:inline;}
#paginate a{color:#000000;}


.tag1{ font-weight:bolder; line-height:27px; font-size:18px; color:#FF8C0D;}
.tag2{ line-height:27px; font-size:20px; color:#0099FF;}
.tag3{ font-weight:bolder; line-height:27px; font-size:16px;color:#0099FF;}
.tag4{  line-height:27px; font-size:19px; color:#00FF00; }
.tag5{ font-weight:bolder; line-height:27px; font-size:17px;  color:#00FF66;}
.tag6{ font-weight:bolder; line-height:27px; font-size:18px; color:#FF6600; }

