body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
P{margin:0px; padding:0px;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}

#ibody{width:995px; height:1180px; background:#f1f1f1; margin:0 auto; margin-top:10px;}


#ibody_top{width:995px; float:left; display:inline;}
#ibody_left{width:322px;  float:left; display:inline;}
#ibody_center{width:375px; float:left; display:inline;}
#ibody_right{width:290px; float:right; display:inline;}

.l_title{width:275px; height:25px; margin-top:8px; margin-left:4px; padding-top:5px; padding-left:10px; float:left; display:inline;}
.l_title .title_l{width:200px; height:20px; margin-left:15px; color:#25619A; font-size:14px; font-weight:bold; line-height:16px; float:left; display:inline;}
.l_title .title_r{width:50px; height:20px; line-height:16px; float:right; display:inline;}
.l_title .title_r a{color:#FF6600; text-decoration:none;}

#t_l{width:293px; height:225px; margin-top:23px; margin-left:25px; float:left; display:inline;}

#t_r{width:610px; height:225px; margin-top:20px; margin-right:22px; padding-top:10px; padding-top:12px; padding-left:40px; background:url(/images/show/index_t_r.jpg) no-repeat; float:right; display:inline;}

#l_t{width:293px; height:242px; margin-left:22px; background:url(/images/show/index_l_t.gif) no-repeat; float:left; display:inline;}
#l_t .content{width:272px; height:20px; margin-left:15px; line-height:20px; border-top:1px solid #EAEAEA; float:left; display:inline;}
#l_t .content img{margin-top:7px; float:left; display:inline;}
#l_t .content .c_a{width:200px; height:20px; margin-left:10px; line-height:20px; padding-left:5px; overflow:hidden; border-left:1px solid #EAEAEA; float:left; display:inline;}
#l_t .content .c_a a{color:#666666; text-decoration:none;}
#l_t .content .c_t{padding-left:8px; color:#666666;  border-left:1px solid #EAEAEA; float:left; display:inline;}
#l_m{width:293px; height:413px; margin-left:22px; background:url(/images/show/index_l_m.gif) no-repeat; float:left; display:inline;}
#l_m .content{width:260x; height:158px; margin-top:5px; margin-left:15px; margin-bottom:10px; float:left; display:inline;}
#l_m .content .context{width:260x;  float:left; display:inline;}
#l_m .content .context .context1{width:240px; height:60px; margin-left:5px; border-bottom:1px dotted #ADD5ED; float:left; display:inline;}
#l_m .content .context .context1 .left{width:71px; height:56px; border:1px solid #C1CBD7; float:left; display:inline;}
#l_m .content .context .context1 .right{width:150px; height:58px; float:left; margin-left:5px; display:inline;}
#l_m .content .context .context1 .right a{width:150px; height:16px; line-height:16px; color:#2872B5; text-decoration:none; overflow:hidden; float:right; display:inline;}
#l_m .content .context .context1 .right span{width:150px; height:16px; margin-top:2px; line-height:16px; color:#2872B5; overflow:hidden; float:right; display:inline;}
#l_m .content .context .context2{width:240px; height:23px;  margin-left:5px; border-bottom:1px dotted #ADD5ED; line-height:23px; float:left; display:inline;}
#l_m .content .context .context2 .left{width:170px; height:23px; overflow:hidden; float:left; display:inline;}
#l_m .content .context .context2 a{text-decoration:none; color:#333333;}
#l_m .content .context .context2 .right{width:30px; height:23px; color:#888888; float:right; display:inline;}
#l_m .content .context .pic1{width:12px; height:11px; padding-left:1px; margin-top:6px; font-size:10px; line-height:10px; color:#ffffff; font-weight:bold; background:url('/images/news/news_one_three.jpg') no-repeat; float:left; display:inline;}
#l_m .content .context .pic2{width:12px; height:11px; padding-left:1px; margin-top:6px; font-size:10px; line-height:10px; color:#ffffff; font-weight:bold; background:url('/images/news/news_four_eight.jpg') no-repeat; float:left; display:inline;}
#l_b{width:293px; height:215px; margin-top:5px; margin-left:22px; background:url(/images/show/index_l_b.gif) no-repeat; float:left; display:inline;}
.l_b_l{width:129px; height:163px; margin-top:5px; margin-left:20px; float:left; display:inline;}
.l_b_r{width:119px; height:163px; margin-top:5px; margin-right:10px; float:right; display:inline;}
.l_b_r a{width:119px; height:20px; color:#25619A; font-weight:bolder; text-decoration:none; line-height:20px; float:right; display:inline;}
.l_b_r .m_info{width:119px; height:100px; overflow:hidden; line-height:20px; float:left; display:inline;}
#c{width:374px; height:885px; background:url(/images/show/index_c.gif) no-repeat; float:left; display:inline;}
.c_title{width:350px; height:25px; margin-top:8px; margin-left:5px; padding-top:5px; padding-left:10px; float:left; display:inline;}
.c_title .title_l{width:280px; height:20px; margin-left:15px; color:#25619A; font-size:14px; font-weight:bold; line-height:16px; float:left; display:inline;}
.c_title .title_r{width:50px; height:20px; line-height:16px; float:right; display:inline;}
.c_title .title_r a{color:#FF6600; text-decoration:none;}
.box{width:268px; height:289px; margin-top:2px; margin-bottom:2px; background:url(/images/show/show_index_rbg1.gif) no-repeat; float:left; display:inline;}
.box .content{width:247px; height:20px; margin-left:15px; line-height:20px; border-top:1px solid #EAEAEA; float:left; display:inline;}
.box .content img{margin-top:7px; float:left; display:inline;}
.box .content .c_a{width:155px; height:20px; margin-left:10px; padding-left:5px; overflow:hidden;  border-left:1px solid #EAEAEA; float:left; display:inline;}
.box .content .c_a a{color:#666666; text-decoration:none;}
.box .content .c_t{padding-left:8px; color:#666666;  border-left:1px solid #EAEAEA; float:left; display:inline;}
.r_title{width:250px; height:25px; margin-top:8px; margin-left:4px; padding-top:5px; padding-left:10px; float:left; display:inline;}
.r_title .title_l{width:150px; height:20px; margin-left:15px; color:#25619A; font-size:14px; font-weight:bold; line-height:16px; float:left; display:inline;}
.r_title .title_r{width:50px; height:20px; line-height:16px; float:right; display:inline;}
.r_title .title_r a{color:#FF6600; text-decoration:none;}

#c .c_context{width:365px; padding-bottom:10px; float:left; display:inline; }
#c .c_context .c_content{width:130px; float:left; margin-left:33px; margin-top:8px; display:inline;}
#c .c_context .c_content .pic{width:120px; height:90px; padding:5px; border:1px solid #CCCCCC; float:left; display:inline;}
#c .c_context .c_content .title{width:130px; height:20px; line-height:20px; overflow:hidden; text-align:center; float:left; display:inline;}
#c .c_context .c_content .title a{ text-decoration:none; color:#000000;}
#c .c_context .c_content .publisher{width:130px; height:20px; line-height:20px; color:#0099BB; text-align:center; overflow:hidden; float:left; display:inline;}