body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}

#ibody{width:995px; margin:0 auto; margin-top:10px; line-height:20px;}


#ibody_left{width:296px;  float:left; display:inline;}
#ibody_right{width:684px; float:right; display:inline;}

#l_t{width:296px; float:left; display:inline;}
.l_m{width:290px; margin-top:10px; border:1px solid #DFDFDF; float:left; display:inline;}
.l_m a{text-decoration:none;}
.l_m .title{width:270px; height:20px; padding:10px; color:#141414; font-weight:bold; font-size:15px; border-bottom:1px solid #DFDFDF; float:left; display:inline;}
.l_m .title .left{width:220px; float:left; display:inline;}
.l_m .title .more{width:50px; margin-top:2px; font-size:12px; float:right; display:inline;}
.l_m .title .more a{color:#FF6600;}
.l_m .content{width:270px; margin-left:10px; padding-bottom:10px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
.l_m .content .left{width:16px; height:13px; margin-top:10px; text-align:center; line-height:13px; font-weight:bold;  color:#ffffff; background:url('/images/icon/show_wxwxzy.jpg') no-repeat; float:left; display:inline;}
.l_m .content .right{width:190px; margin-top:5px; margin-left:20px; float:left; display:inline;}
.l_m .content .right .top{width:190px; float:left; display:inline;}
.l_m .content .right .top a{color:#666666; font-weight:bold;}
.l_m .content .right .bottom{width:190px; color:#9D9D9D; font-weight:bold; float:left; display:inline;}

#r_t{width:684px; background:url('/images/show/show_r.jpg') no-repeat; float:left; display:inline;}
#r_t #image{width:684px; height:434px; padding:7px; float:left; display:inline;}
#r_t .digg{width:672px; float:left; display:inline;}
#r_t .digg #flower{width:40px; height:25px; margin-left:180px; padding-left:55px; padding-top:4px; font-size:15px; color:#FF0000; font-weight:bolder; background:url('/images/show/flower.jpg'); cursor:pointer; float:left; display:inline;}
#r_t .digg #tomato{width:40px; height:25px; margin-left:110px; padding-left:55px; padding-top:4px; font-size:15px; color:#999999; font-weight:bolder; background:url('/images/show/tomato.jpg'); cursor:pointer; float:left; display:inline;}

#r_b{width:680px; margin-top:10px; background:url('/images/show/show_r_b.jpg') no-repeat; float:left; display:inline;}

#r_b_l{width:330px; float:left; display:inline;}

#r_b_r{width:330px; float:right; display:inline;}
#r_b_l .content{width:310px; margin-left:10px; padding-bottom:10px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
#r_b_l .content .l{width:55px; height:52px; margin-top:10px; margin-left:10px; border:1px solid #CCCCCC; float:left; display:inline;}
#r_b_l .content .l img{margin:5px;}
#r_b_l .content .r{width:290px; margin-top:10px; margin-left:20px; float:left; display:inline;}
#r_b_l .content .r .t{width:290px; float:left; color:#FF6600; display:inline;}
#r_b_l .content .r .b{width:290px; word-wrap:break-word; float:left; display:inline;}
#r_b_l #paginate{width:330px; margin-top:20px; margin-left:10px; float:left; display:inline;}
#r_b_l #paginate a{color:#000000}
#r_b_l #comment_box{width:340px; padding-bottom:40px; margin-top:10px; float:left; display:inline;}
#r_b_l #comment_box #commit_fck{float:left; display:inline;}
#r_b_l #comment_box #fqbq{float:left; display:inline;}
#r_b_l #comment_box #commenter_box{float:left; display:inline;}
#r_b_l #comment_box #submit_comment{width:66px; height:19px; margin-top:10px; cursor:pointer; float:right; display:inline; background:url(/images/show/show_submit.jpg);}
#r_b_l #comment_box .title{width:310px; margin:0; padding:0; float:left; display:inline; font-weight:normal;}

#r_b_r .pic{width:145px; height:105px; margin-top:10px; margin-left:10px; border:2px solid #E5E5E5; float:left; display:inline;}

#r_b .title{width:260px; height:20px; margin-top:20px; margin-left:20px; font-weight:bold; font-size:14px; font-family:黑体; float:left; display:inline;}
#r_b .more{width:50px; height:20px; margin-top:20px; float:right; display:inline;}
#r_b .more a{color:#FF6600; text-decoration:none;}


