body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}

#ibody{width:995px; margin:0 auto; margin-top:10px; padding-bottom:20px;}


#ibody_left{width:285px; float:left; display:inline; line-height:20px;}
#ibody_right{width:700px; float:right; display:inline; }


#l_t{width:285px; float:left; display:inline;}
#l_t #video{width:285px; height:265px; float:left; display:inline;}
#l_t #btn1{width:85px; height:18px; margin-top:3px; margin-left:25px; background:url(/images/show/btn_1.jpg); cursor:pointer; float:left; display:inline;}
#l_t #info{width: 130px; height:18px; margin-top:3px; margin-left:40px; font-size:14px; line-height:18px; color:#0099BB; float:left; display:inline;}

.l_m{width:285px; margin-top:10px; border:1px solid #DFDFDF; float:left; display:inline;}
.l_m a{text-decoration:none;}
.l_m .title{width:265px; height:20px; padding:10px; color:#141414; font-weight:bold; font-size:15px; border-bottom:1px solid #DFDFDF; float:left; display:inline;}
.l_m .title .left{width:215px; float:left; display:inline;}
.l_m .title .more{width:50px; margin-top:2px; font-size:12px; float:right; display:inline;}
.l_m .title .more a{color:#FF6600;}
.l_m .content{width:265px; margin-left:10px; padding-bottom:10px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
.l_m .content .left{width:16px; height:13px; margin-top:10px; text-align:center; line-height:13px; font-weight:bold;  color:#ffffff; background:url('/images/icon/show_wxwxzy.jpg') no-repeat; float:left; display:inline;}
.l_m .content .right{width:190px; margin-top:5px; margin-left:20px; float:left; display:inline;}
.l_m .content .right .top{width:190px; font-weight:bold; float:left; display:inline;}
.l_m .content .right .top a{color:#666666;}
.l_m .content .right .bottom{width:190px; color:#9D9D9D; font-weight:bold; float:left; display:inline;}

#l_m1{width:280px; margin-top:20px; float:left; display:inline;}

#pic{width:287px; height:103px; margin-top:10px; float:left; display:inline;}

#l_b{width:285px; margin-top:20px; font-size:13px; font-family:黑体 float:left; display:inline;}
#l_b .title{width:265px; height:20px; padding:10px; color:#141414; font-weight:bold; font-size:15px; float:left; display:inline;}
#l_b .content{width:260px; margin-left:10px; padding:3px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
#l_b .content .left{width:40px; height:30px; line-height:30px; color:#A1A1A1; float:left; display:inline;}
#l_b .content .right{width:223px; height:30px; line-height:30px; overflow:hidden; float:left; display:inline;}
#l_b .content .right a{ text-decoration:none; color:#0099BB}

#r_t{width:690px; height:285px; margin-left:10px; padding:0; line-height:20px; float:left; display:inline;}
#r_t #r_t_l{width:480px; height:285px; float:left; display:inline;}
#r_t #r_t_l #r_t_l_t{width:480px; height:225px; float:left; display:inline;}
#r_t #r_t_l #r_t_l_b{width:480px; height:60px; background:#000000; float:left; display:inline;}
#r_t #r_t_l #r_t_l_b img {width:80px; height:46px; opacity:0.3; filter:alpha(opacity=30); margin-top:4px; margin-left:17px; margin-right:17px; margin-bottom:4px; border:2px solid #D3D1D1; cursor:pointer; float:left; display:inline;}
#r_t #r_t_r{width:185px; float:left; margin-left:18px; display:inline;}
#r_t #r_t_r .title{width:150px; height:20px; color:#141414; font-weight:bold; font-size:15px; float:left; display:inline;}
#r_t #r_t_r .content{width:185px; padding-bottom:3px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}
#r_t #r_t_r .content .left{width:16px; height:13px; margin-top:10px; text-align:center; line-height:13px; font-weight:bold; background:url('/images/icon/show_wxwxzy.jpg') no-repeat; color:#ffffff; float:left; display:inline;}
#r_t #r_t_r .content .left2{width:16px; height:13px; margin-top:10px; text-align:center; line-height:13px; font-weight:bold; background:url('/images/icon/show_wxwxzy2.gif') no-repeat; color:#ffffff; float:left; display:inline;}
#r_t #r_t_r .content .right{width:120px; height:13px; margin-top:10px; margin-left:5px; font-size:13px; line-height:13px; overflow:hidden; float:left; display:inline;}
#r_t #r_t_r .content .right a{color:#0099BB; text-decoration:none;}
#r_t #r_t_r .content .click_count{height:13px; margin-top:10px; margin-left:10px; color:#666666; font-size:13px; line-height:13px; float:left; display:inline;}

#r_b{width:700px;  margin-top:10px; background:url(/images/show/bg_2.jpg) no-repeat;  float:left; display:inline; }
.r_b_title{width:680px; color:#141414; margin-left:5px; font-weight:bold; font-size:15px; line-height:20px; float:left; display:inline;}
.r_b_title .left{width:600px; margin-top:20px; margin-left:20px; float:left; display:inline;}
.r_b_title .more{width:40px; margin-top:22px; margin-right:20px; font-size:12px; float:right; display:inline;}
.r_b_title .more a{color:#FF6600; text-decoration:none;}

.r_b_content{width:700px; float:left; display:inline; }
.r_b_content .content{width:130px; float:left; margin-left:30px; margin-top:10px; display:inline;}
.r_b_content .content .pic{width:120px; height:75px; padding:5px; border:1px solid #CCCCCC; float:left; display:inline;}
.r_b_content .content .title{width:130px; height:20px; text-align:center; line-height:20px; overflow:hidden; float:left; display:inline;}
.r_b_content .content .title a{color:#0099BB;}
.r_b_content .content .keywords{width:130px; height:20px; line-height:20px; text-align:center; color:#666666; overflow:hidden; float:left; display:inline;}
.r_b_content .content .publisher{width:130px; height:20px; line-height:20px; text-align:center; color:#FF0000; overflow:hidden; float:left; display:inline;}

.line{width:650px; height:1px; margin-left:25px; margin-top:20px; border-bottom:1px dashed #B7B7B7; float:left; display:inline;}


.tag1{ font-weight:bolder; line-height:27px; font-size:18px; color:#FF8C0D;}
.tag2{ line-height:27px; font-size:20px; color:#0099FF;}
.tag3{ font-weight:bolder; line-height:27px; font-size:16px;color:#0099FF;}
.tag4{  line-height:27px; font-size:19px; color:#00FF00; }
.tag5{ font-weight:bolder; line-height:27px; font-size:17px;  color:#00FF66;}
.tag6{ font-weight:bolder; line-height:27px; font-size:18px; color:#FF6600; }


