body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
#ibody{width:995px; margin:0 auto; margin-top:10px;}

#ibody_left{width:395px; float:left; display:inline;}
#ibody_right{width:593px; float:right; display:inline;}

.l_title{width:387px; height:20px; margin-top:10px; padding-top:5px; padding-left:10px; color:#ffffff; font-weight:bold; font-size:16px; line-height:20px; background:url('/images/ssl/l_title_bg.jpg') no-repeat; float:left; display:inline;}
.l_content{width:375px; padding:10px; line-height:20px; border:1px solid #DC7638; border-top:none; float:left; display:inline;}
.r_title{width:585px; height:20px; margin-top:10px; padding-top:5px; padding-left:10px; color:#ffffff; font-weight:bold; font-size:16px; line-height:20px; background:url('/images/ssl/r_title_bg.jpg') no-repeat; float:left; display:inline;}
.r_title .more{width:50px; height:20px; font-size:12px; line-height:20px; float:right; display:inline;}
.r_title .more a{color:#ffffff; text-decoration:none;}
#r_content{width:593px; padding-bottom:10px; line-height:20px; border:1px solid #DC7638; border-top:none; float:left; display:inline;}
#r_content .table{width:227px; height:31px; padding-top:11px; margin-top:10px; margin-left:45px; background:#FFFFCC; line-height:20px; text-align:center; float:left; display:inline;}
#r_content1{width:593px; padding-bottom:10px; line-height:20px; border:1px solid #DC7638; border-top:none; float:left; display:inline;}
.r_content_every{width:593px; height:96px; background:url('/images/bg/sslfx_r_content_bg.jpg') repeat-x; float:left; display:inline;}
.r_content_every .title{width:570px; height:20px; line-height:20px; margin-top:5px; margin-left:10px; float:left; display:inline;}
.r_content_every .title a{color:#000000; text-decoration:none;}
.r_content_every .content{width:570px; height:60px; line-height:20px; margin-top:5px; margin-left:10px; float:left; display:inline;}
.r_content_every .content a{color:#000000; text-decoration:none;}
.b_title{width:985px; height:20px; margin-top:10px; padding-top:5px; padding-left:10px; color:#ffffff; font-weight:bold; font-size:16px; line-height:20px; background:url('/images/ssl/l_title_bg.jpg') no-repeat; float:left; display:inline;}
.b_content{width:973px; padding:10px; line-height:20px; border:1px solid #DC7638; border-top:none; float:left; display:inline;}
.b_pro1{width:197px; height:24px; line-height:24px; color:#000000; text-align:center; background:#FF9900; float:left; display:inline;}
.b_pro2{width:199px; height:24px; line-height:24px; color:#ffffff; text-align:center; background:#FFCC00; float:left; display:inline;}