body {
	
}
.bder{border:1px solid}
.module{border:1px dotted}
.subejct_item{width:auto;}
.subject_pos{margin-left:10px;}
#top_info{width:100%}
#layout{width:800px;height:100px;}
#lt_top{width:100%}
#lt_left{width:30%;float:left;}
#lt_center{width:40%;float:left;}
#lt_right{width:auto;float:left;}
#lt_center{float:left;}
