body {
	
}
.bder{border:1px solid blue}
.module{border:1px dotted;margin:5px;}
.subejct_item{width:auto;}
.subject_pos{margin-left:10px;}
#top_info{width:100%}
#layout{width:700px;min-height:100px;border:1px dotted;padding:10px;}
#lt_top{width:100%}
#lt_left{width:30%;float:left;margin-top:10px;}
#lt_center{width:40%;float:left;margin-top:10px;}
#lt_right{width:auto;float:left;margin-top:10px;}
#lt_center{float:left;margin-top:10px;}
#lt_bottom{margin-top:10px;}

/*
 * css used in sbuejct_select_items.php
 */

 #div_left_box{border:1px solid;float:left;min-height:200px;width:45%;}
 #div_right_box{border:1px solid; float:right;width:45%;min-height:200px;}
