body {font-family:ËÎÌå; font-size:12px; color:#434343; background:#c8c8c8;  margin:0px;}
#bodys{width:1000px; padding-bottom:10px; background:url('/images/sxxx/body_bg.jpg') repeat-y; margin:0 auto; margin-top:10px;}
#logo{width:1000px; height:150px; float:left; display:inline;}
#title{width:1000px; height:30px; background:url(/images/sxxx/title_bg.jpg) no-repeat; overflow:hidden; float:left; display:inline;}
#title .cl{width:95px; height:16px; text-align:center; margin-top:8px; color:#FFFF99; overflow:hidden; float:left; display:inline;}
#title .cl a{font-size:12px; color:#FFFF99; text-decoration:none;}
#title #search{width:61px; height:30px; margin-left:30px; float:left; display:inline;}

.sx{width:2px; height:10px; margin-top:10px; background:url('/images/sxxx/sx.jpg') no-repeat; float:left; display:inline;}
#flash{width:1000px; height:210px; overflow:hidden; float:left; display:inline;}
#zxdt{width:953px; height:76px; margin-left:23px; background:url(/images/sxxx/zxdt.png) no-repeat; float:left; display:inline;}
#zxdt #content{width:896px; height:52px; margin-top:18px; margin-left:40px; float:left; display:inline;}
#zxdt #content .context{width:295px; height:52px;  float:left; display:inline;}
#zxdt #content .context .cl{width:295px; height:14px; line-height:14px; overflow:hidden; float:left; display:inline;}
#zxdt #content .context .cl a{color:#af0d0d; text-decoration:none;}
.c_title1{width:468px; height:32px; font-family:Î¢ÈíÑÅºÚ ; font-size:16px; font-weight:bold; color:#ffffff; float:left; display:inline;}
.wz{width:300px; height:32px; margin-left:10px; float:left; display:inline;}
.more{width:48px; height:16px; margin-top:15px; margin-right:10px; font-weight:bold; line-height:16px; float:right; display:inline;}
.more a{color:#ffffff; text-decoration:none;}
.c_title2{width:415px; height:36px; margin-left:15px; line-height:36px; font-family:Î¢ÈíÑÅºÚ ; font-size:14px; font-weight:bold; color:#ffffff; float:left; display:inline;}
#i_m1{width:953px; height:260px; margin-top:10px; margin-left:23px; float:left; display:inline;}
#i_m1 #c_l{width:468px; height:260px; background:url(/images/sxxx/c_bg.png) no-repeat; float:left; display:inline;}
#i_m1 #c_l #video{width:253px; height:200px; margin-top:15px; margin-left:12px; float:left; display:inline;}
#i_m1 #c_l #c_l_title{width:178px; height:18px; font-size:14px; margin-top:20px; margin-right:10px; font-weight:bold; color:#000000; line-height:18px; overflow:hidden; float:right; display:inline;}
#i_m1 #c_l #c_l_title a{color:#000000; text-decoration:none;}
#i_m1 #c_l #c_l_content{width:178px; height:90px; margin-top:15px; margin-right:10px; line-height:18px; color:#333333; overflow:hidden; float:right; display:inline;}
#i_m1 #c_l #c_l_content a{color:#333333; text-decoration:none;}
#i_m1 #c_l #dash{width:179px; height:1px; margin-top:5px; margin-right:10px; margin-bottom:5px; background:url('/images/sxxx/c_l_dash.jpg') no-repeat; overflow:hidden; float:right; display:inline;}
#i_m1 #c_l .cjlj{width:183px; height:21px; margin-right:10px; line-height:21px; overflow:hidden; float:right; display:inline;}
#i_m1 #c_l .cjlj a{color:#000000; text-decoration:none;}
#i_m1 #c_r{width:468px; height:260px; background:url(/images/sxxx/c_bg.png) no-repeat; float:right; display:inline;}
#i_m1 #c_r #c_r_t{width:448px; margin-left:15px; float:left; display:inline;}
#i_m1 #c_r #c_r_t_l{width:141px; height:88px; margin-top:20px; border:1px solid #cccccc; background:#ffffff; overflow:hidden; float:left; display:inline;}
#i_m1 #c_r #c_r_t_l img{width:135px; height:80px; margin:4px;}
#i_m1 #c_r #c_r_t_r{width:250px; margin-right:15px; float:right; display:inline;}
#i_m1 #c_r #c_r_t_r #c_r_t_r_title{width:270px; height:18px; margin-top:20px; font-size:14px; line-height:18px; font-weight:bold; float:left; display:inline;}
#i_m1 #c_r #c_r_t_r #c_r_t_r_title a{color:#000000; text-decoration:none;}
#i_m1 #c_r #c_r_t_r #c_r_t_r_content{width:270px; height:68px; margin-top:5px; line-height:17px; overflow:hidden; float:left; display:inline;}
#i_m1 #c_r #c_r_t_r #c_r_t_r_content a{color:#333333; text-decoration:none;}
#i_m1 #c_r #dash{width:428px; height:1px; margin-top:5px; margin-bottom:5px; margin-left:20px; background:url('/images/sxxx/c_r_dash.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#i_m1 #c_r #c_r_b{width:431px; height:90px; margin-left:20px; float:left; display:inline;}
#i_m1 #c_r #c_r_b .cl{width:125px; height:90px; margin-left:5px; overflow:hidden; float:left; display:inline;}
#i_m1 #c_r #c_r_b .cl img{width:125px; height:90px;}
#i_m2{width:953px; height:260px; margin-top:10px; margin-left:23px; float:left; display:inline;}
#i_m2 #c_l{width:468px; height:260px; background:url(/images/sxxx/c_bg1.png) no-repeat; float:left; display:inline;}
#i_m2 #c_l #q_l{width:214px; height:200px; margin-top:15px; margin-left:20px; font-weight:bold;  overflow:hidden; float:left; display:inline;}
#i_m2 #c_l #q_l #q_title{width:214px; height:40px; line-height:20px; font-size:14px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_l #q_l #q_title a{color:#000000; text-decoration:none;}
#i_m2 #c_l #q_l #q_time{width:214px; height:20px; line-height:20px; overflow:hidden; color:#666666; float:left; display:inline;}
#i_m2 #c_l #q_l #q_content{width:214px; height:18px; line-height:18px; font-size:14px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_l #q_l #q_content a{color:#000000; text-decoration:none;}
#i_m2 #c_l #dash{width:214px; height:1px; margin-top:10px; margin-bottom:10px; background:url('/images/sxxx/c_dash.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#i_m2 #c_l #answer{width:214px; height:108px; line-height:18px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_l #answer a{color:#666666; text-decoration:none;}
#i_m2 #c_l #q_r{width:214px; height:200px; margin-top:15px; margin-right:10px; float:right; display:inline;}
#i_m2 #c_l #q_r .btn{width:97px; height:23px; margin-bottom:5px; margin-right:10px; cursor:pointer; background:url('/images/zd/btn_bg.jpg') no-repeat; text-align:center; color:#ffffff; line-height:23px; font-weight:bold; float:right; display:inline;}
#i_m2 #c_l #q_r .btn a{color:#ffffff; text-decoration:none;}
#i_m2 #c_l #q_r .q_content{width:214px; height:17px; line-height:17px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_l #q_r .q_content a{color:#666666; text-decoration:none;}


#i_m2 #c_r{width:468px; height:260px; background:url(/images/sxxx/c_bg1.png) no-repeat; float:right; display:inline;}
#i_m2 #c_r #c_r_l{width:250px; height:90px; margin-top:15px; margin-left:15px; float:left; display:inline;}
#i_m2 #c_r #c_r_l #c_r_t_l{width:98px; height:88px; border:1px solid #cccccc; background:#ffffff; overflow:hidden; float:left; display:inline;}
#i_m2 #c_r #c_r_l #c_r_t_l img{width:90px; height:80px; margin:4px;}
#i_m2 #c_r #c_r_l #c_r_t_r{width:150px; height:90px; float:right; display:inline;}
#i_m2 #c_r #c_r_l #c_r_t_r #c_r_t_r_title{width:150px; height:18px; font-size:14px; line-height:18px; font-weight:bold; float:left; display:inline;}
#i_m2 #c_r #c_r_l #c_r_t_r #c_r_t_r_title a{color:#000000; text-decoration:none;}
#i_m2 #c_r #c_r_l #c_r_t_r #c_r_t_r_content{width:150px; height:68px; margin-top:5px; line-height:17px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_r #c_r_l #c_r_t_r #c_r_t_r_content a{color:#333333; text-decoration:none;}
#i_m2 #c_r #c_r_l #c_r_b{width:250px; height:90px; margin-top:10px; float:left; display:inline;}
#i_m2 #c_r #c_r_l #c_r_b .cl{width:250px; height:18px; line-height:18px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_r #c_r_l #c_r_b .cl a{color:#666666; text-decoration:none;}
#i_m2 #c_r #sx_dash{width:1px; height:200px; margin-top:10px; margin-left:10px; background:url('/images/sxxx/sx_dash.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#i_m2 #c_r #c_r_r{width:170px; height:198px; margin-top:10px; margin-right:10px; float:right; display:inline;}
#i_m2 #c_r #c_r_r .cl{width:169px; height:18px; line-height:18px; overflow:hidden; float:left; display:inline;}
#i_m2 #c_r #c_r_r .cl a{color:#666666; text-decoration:none;}
#ibottom{width:953px; height:260px; margin-top:10px; margin-left:23px; float:left; display:inline;}
#i_b1{width:247px; height:260px; background:url('/images/sxxx/b_bg1.jpg') no-repeat; float:left; display:inline;}
#i_b2{width:247px; height:260px; margin-left:11px; background:url('/images/sxxx/b_bg2.jpg') no-repeat; float:left; display:inline;}
#i_b3{width:247px; height:260px; margin-left:11px; background:url('/images/sxxx/b_bg3.jpg') no-repeat; float:left; display:inline;}
#i_b4{width:180px; height:260px; background:url('/images/sxxx/b_bg4.jpg') no-repeat; float:right; display:inline;}
#ibottom .b_title{width:245px; height:32px; margin-bottom:15px; float:left; display:inline;}
#ibottom .b_title .wz{width:70px; height:20px; margin-top:8px; margin-left:50px; font-family:Î¢ÈíÑÅºÚ ; color:#ffffff; font-size:16px; font-weight:bold; float:left; display:inline;}
#ibottom .b_title .more{width:48px; height:16px; margin-top:10px; margin-right:10px; font-weight:bold; float:right; display:inline;}
#ibottom .b_title .more a{color:#ffffff; text-decoration:none;}
#ibottom .b_l{width:98px; height:88px; margin-bottom:15px; margin-left:15px; border:1px solid #cccccc; background:#ffffff; overflow:hidden; float:left; display:inline;}
#ibottom .b_l img{width:90px; height:80px; margin:4px;}
#ibottom .b_r{width:117px; margin-right:8px; float:right; display:inline;}
#ibottom .b_r .b_r_title{width:117px; height:18px; font-size:12px; line-height:18px; font-weight:bold; overflow:hidden; float:left; display:inline;}
#ibottom .b_r .b_r_title a{color:#000000; text-decoration:none;}
#ibottom .b_r .b_r_content{width:117px; height:68px; margin-top:5px; line-height:17px; overflow:hidden; float:left; display:inline;}
#ibottom .b_r .b_r_content a{color:#333333; text-decoration:none;}
#ibottom .b_b{width:200px; height:18px; margin-left:15px; line-height:18px; overflow:hidden; float:left; display:inline;}
#ibottom .b_b a{color:#666666; text-decoration:none;}
#ibottom #b_title1{width:178px; height:32px; margin-bottom:10px; float:left; display:inline;}
#ibottom #b_title1 .wz{width:70px; height:20px; margin-top:8px; margin-left:10px; font-family:Î¢ÈíÑÅºÚ ; color:#ffffff; font-size:16px; font-weight:bold; float:left; display:inline;}
#ibottom .b_b_l{width:120px; height:19px; margin-left:10px; line-height:19px; overflow:hidden; float:left; display:inline;}
#ibottom .b_b_r{width:50px; height:19px; line-height:19px; float:left; display:inline;}
