body {margin:0px; font-family:宋体; font-size:12px;  color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}
#nav1{width:100%; height:24px; border-bottom:1px solid #E6E6E6; background:#f7f7f7; margin:0 auto;}
#nav1 #box{width:990px; height:24px; text-align:right; margin:0 auto;}
#nav1 iframe{text-align:center; float:left; display:inline;}
#nav1 img{margin-top:3px; float:right; display:inline;}
#nav1 #context{line-height:24px; float:right; display:inline;}
#nav1 #context a{color:#999999; text-decoration:none;}
#nav1 #context span{color:#999999; cursor:pointer;}
#nav1 #home{width:51px; height:11px; margin-top:3px; margin-right:5px; float:right; display:inline;}
#nimg1{width:995px; height:116px; background:url('/images/shanghailoianghui.jpg') no-repeat; text-align:center; margin:0 auto;}
.deptlogo{width:100px; height:63px; margin-top:22px; cursor:pointer; float:left; display:inline;}
.deptlogo a{width:100px; height:63px; text-decoration:none;}
#nav2{margin-top:2px; width:100%; line-height:20px; height:110px; float:left; display:inline;}
#nav2 #box{width:995px; height:110px; background:url('/images/top/bg.jpg') no-repeat; margin:0 auto;}
/*#nav2 #logo{width:162px; height:45px; margin-top:15px; margin-left:10px; background:url(/images/top/logo1.jpg) no-repeat; float:left; display:inline;}*/
#nav2 #logo{width:162px; height:45px; margin-top:15px; margin-left:10px; background:url(/images/top/logo.jpg) no-repeat; float:left; display:inline;}
/*#nav2 #logo{width:162px; height:45px; margin-top:15px; margin-left:8px; background:none; float:left; display:inline;}*/
#nav2 ul{width:130px; padding:0px; margin-top:18px; margin-right:6px; padding:0px; border-right:1px dashed #ffffff; float:left; display:inline;}
#nav2 li{height:22px; margin:0px; margin-left:6px; line-height:17px; color:#ffffff; float:left; display:inline;}
#nav2 li a{color:#ffffff; text-decoration:none;}
/*#nav2 #weather{width:135px; height:22px; margin-top:15px; text-align:center; color:#ffffff; background:#CD3301; float:left; display:inline;}*/
#nav2 #weather{width:135px; height:10px; margin-top:15px; text-align:center; color:#ffffff; float:left; display:inline;}
#nav2 #weather img{width:15px; height:15px; margin-top:2px; margin-left:3px; float:left; display:inline;}
#nav2 #weather #context{width:110px; text-align:center; float:left; display:inline;}
#nav2 #deptbtn{width:102px; height:23px; margin-left:15px; background:url('/images/top/dept.jpg') no-repeat; cursor:pointer; float:left; display:inline;}
#nav2 #search{width:590px; height:25px; margin-top:12px; float:left; display:inline;}
#nav2 input{width:225px; height:21px; margin-left:10px; line-height:20px; border:1px solid #E07E66; float:left; display:inline;}
#nav2 #button1{width:49px; height:25px; margin-left:5px; border:0px; background:url(/images/top/btn1.jpg); float:left;	display:inline;}
#nav2 #button2{width:79px; height:25px; margin-left:5px; border:0px; background:url(/images/top/btn2.jpg); float:left; display:inline;}
#nav2 #hot{width:110px; height:20px; margin-top:4px; margin-left:15px; overflow:hidden; line-height:20px; float:left;	display:inline;}
#nav2 #hot a{color:#ffffff;}
#nav2 #zongcai{margin-top:5px; float:left; display:inline;}
#nav2 #login{float:left; display:inline;}
#nav2 img{width:19px; height:25px; margin-top:10px; background:url(/images/top/person.jpg) no-repeat; float:left; display:inline;}
#nav2 #welcome{width:320px; height:20px; margin-top:15px; text-align:center; color:#ffffff; float:left; display:inline;}
#nav2 #welcome a{color:#ffffff; text-decoration:none;}

#tool{width:100%; position:absolute; line-height:20px; left:0px; top:25px;}
#toolbox{width:998px; margin:0 auto;}
#toolcontent{width:150px; margin-right:25px; border:1px solid #FF0000; background:#FF6633; float:right; display:none;}
#toolcontent .tools{width:140px; height:20px; padding-top:3px; margin-left:10px; float:left; display:inline;}
#toolcontent .tools a{color:#111111; text-decoration:none;}
#toolcontent .tools a:hover{color:#0000ff; font-weight:bold; text-decoration:underline;}

#dept{width:100%; position:absolute; line-height:20px; left:0px; top:100px;}
#deptbox{width:998px; margin:0 auto;}
/*#deptcontent{width:544px; background:url(/images/top/dept_list_bg.jpg) no-repeat; float:right; display:none}
#deptcontent .title{width:544px; height:20px; margin-left:10px; font-size:16px; font-weight:bold; color:red; line-height:20px; float:left; display:inline;}
#deptcontent #top{width:544px; height:150px; margin-top:10px; float:left; display:inline;}
#deptcontent #bottom{width:544px; height:150px; float:left; display:inline;}
#deptcontent .depts{width:75px; height:20px; padding-top:3px; margin-left:15px; float:left; display:inline;}
*/
#deptcontent{width:500px; border:1px solid #FFff00; background:#ffcc00; float:right; display:none}
#deptcontent .depts{width:110px; height:20px; padding-top:3px; margin-left:10px; float:left; display:inline;}
#deptcontent .depts a{color:#666666; text-decoration:none;}
#deptcontent .depts a:hover{color:#666666; font-weight:bold; text-decoration:underline;}