@CHARSET "UTF-8";
body {margin:0px; font-family:宋体; font-size:12px; color:#000000;}
#ibody{width:995px; margin:0 auto;}
#top_container{width:960px; line-height:24px; float:left; display:inline;}
#top_left{width:760px; height:24px;  float:left; display:inline;}
#top_left .content{margin-right:25px; float:left; display:inline;}
#top_left a{font-size:16px; color:#ff0000; text-decoration: none;}
#top_right{width:120px; height:24px; text-align:center; background:url(/images/news/news_sub_button.jpg) no-repeat; float:right; display:inline;}
#top_right a{font-size:16px; color:#ffffff;  font-weight: bold; text-decoration: none;}
#left_container{width:330px; float:left;}
#center_container{width:330px;float:left;}
#right_container{width:330px; margin-left:3px; float:left;}
.sortable{padding-bottom:30px;}

div.model_container{width:315px;margin-top:10px;  border:1px solid #F6F6F6;float:left;}
div.model_container .tool{width:300; height:27px; background-color: #EFEFEF; cursor:move;}
.tool .model_name{margin-left:5px;float:left;font-size:14px; line-height:27px; font-weight: bold;}
.tool .remove{width:9px; height:9px; margin-top:9px;margin-right:5px; cursor:pointer; background: url("/images/zone/remove.gif") no-repeat;float:right;}
.model_container .content{width:290px; padding:0px 5px 5px 5px;float:left;}
.model_container .content li{width:290px; margin-top:5px;overflow: hidden; line-height:20px; height:20px;}
.content li a{text-decoration: none; color:black}
.content li.top a{color:red;}

	.ui-sortable-placeholder { border: 1px dotted red; visibility: visible !important;  }
	.ui-sortable-placeholder * { visibility: hidden; }
span.color{border:1px solid black; cursor: pointer;}	
#bgcolor{margin-top:20px;}
#select_color{border:1px solid black;}