@CHARSET "UTF-8";
body {margin:0px; font-family:宋体; font-size:12px; color:#000000;}
#ibody{width:995px; margin:0 auto; margin-top:10px;}
#top_container{width:995px; float:left;}
#left_container{width:330px;float:left;}
#center_container{width:330px;float:left;}
#right_container{width:330px; margin-left:3px; float:left;}

div.model_container{width:300px;margin-top:10px; border:1px solid #F6F6F6;float:left;}
div.model_container .tool{width:300px; height:27px; background-color: #EFEFEF; cursor:move;}
.tool .model_name{margin-left:5px;float:left;font-size:14px; line-height:27px; font-weight: bold;}
.tool .remove{width:9px; height:9px; margin-top:9px;margin-right:5px; cursor:pointer; background: url("/images/zone/remove.jpg");float:right;}