#right{width:330px; margin-top:10px; padding-bottom:30px; background:#FF7200; float:right; display:inline;}
#right #title{width:300px; height:29px; padding:15px; font-weight:bold; font-size:14px; border-bottom:1px solid #D8DFEA; float:left; display:inline;}
#right .content{width:250px; height:20px; margin-top:10px; padding-left:25px; margin-left:20px; line-height:20px; overflow:hidden; background:url('/images/icon/vote.jpg') no-repeat; float:left; display:inline;}
#right .content a{color:#000000;}
