body{font-family:宋体; line-height:0px; font-size:12px; color:#000000; margin:0px;}
ul{margin:0px; padding:0px;}
li{margin:0px; padding:0px; list-style-type:none;}

#answer{width:995px; margin:0 auto; line-height:15px;}
#left{width:650px; margin-top:10px; padding-bottom:10px; border:1px solid #D8DFEA; float:left; display:inline;}
#left #title{width:630px; height:50px; padding-top:7px; margin-left:10px; border-bottom: 1px solid #D8DFEA; background:url('/images/pic/vote.jpg') no-repeat; float:left; display:inline;}
#left #title a{color:#336699; margin-top:13px; float:right; display:inline;}
#left #content{width:618px; margin-left:20px; margin-top:10px; float:left; display:inline;}
#left #content #head{margin-left:10px; float:left; display:inline;}
#left #content #head span{margin-top:4px; font-size:20px; line-height:20px;}
#left #content #head .title1{width:116px; height:25px; padding-top:4px; background:url('/images/bg/vote_title2.jpg') no-repeat; text-align:center; border-bottom:none; float:left; display:inline;}
#left #content #head .title2{width:116px; height:25px; padding-top:4px; background:url('/images/bg/vote_title1.jpg') no-repeat; text-align:center; float:left; display:inline;}
#left #content #head #line{width:260px; height:29px; border-bottom:1px solid #E3E3E3; float:left; display:inline;}
#left #content .context{width:585px; margin-top:10px; padding-bottom:10px; border:1px solid #cccccc; float:left; display:inline;}
#left #content .context .l{width:65px; margin-top:10px; margin-left:15px; float:left; display:inline;}
#left #content .context .l a{color:#336699;}
#left #content .context .c{width:420px; margin-top:10px; margin-left:10px; float:left; display:inline;}
#left #content .context .c a{color:#336699; font-weight:bold;}
#left #content .context .r{width:100px; position:relative; float:left; display:inline;}
#left #content .context .r span{width:50px; color:#2872B5; text-decoration:underline; position:absolute; margin-left:420px;  bottom:0px; padding-bottom:3px;}

#left #content #question{width:585px; float:left; display:inline;}
#left #content #question #wz{width:545px; margin-top:10px; margin-left:20px; color:#999999; text-indent:24px; float:left; display:inline;}
#left #content #question #top{width:480px; height:40px; margin-top:10px; margin-left:20px; border-bottom:1px dashed #CDCDCD; float:left; display:inline;}
#left #content #question #top span{color:#336799; text-decoration:underline;}
#left #content #question #mid{width:470px; margin-top:10px; margin-left:30px; float:left; display:inline;}
#left #content #question #mid .option{width:300px; height:30px; float:left; display:inline;}
#left #content #question #mid .more{margin-top:10px; color:#336799; text-decoration:underline; float:right; display:inline;}
#left #content #question #btn{width:470px; float:left; display:inline;}
#left #content #question button{margin-top:10px; padding-top:2px; color:#ffffff; background:url('/images/bg/answer_button.jpg') no-repeat; border:0px; float:left; display:inline;}