body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}

#ibody{width:995px; margin:0 auto; margin-top:10px;}

#ibody_top{width:995px; float:left; display:inline;}
#ibody_middle{width:995px; height:531px; margin-top:10px; float:left; display:inline;}
#ibody_bottom{width:995px; float:left; display:inline;}

.wybm{width:400px; margin-top:10px; text-align:center; float:left; display:inline;}
#pk{width:185px; margin-top:80px; text-align:center; float:left; display:inline;}
#t_t{width:995px; height:267px; background:url('/images/wolfandsheep_top.jpg') no-repeat; float:left; display:inline;}
.group{width:497px; height:706px; float:left; display:inline;}

#iframe{width:497px; float:left; display:inline;}
#iframe .content{height:148px; margin-left:15px; padding-top:10px; float:left; display:inline;}
#iframe .content .pic{width:102px; height:102px; margin-left:20px; float:left; display:inline;}
#iframe .content .info{width:250px; height:78px; padding-left:10px; line-height:15px; overflow:hidden; float:left; display:inline;}
#iframe .content .flower{width:100px; height:24px; margin-right:20px; float:right; display:inline;}

#ibody_middle #comment{width:983px; margin-top:10px; margin-left:10px; border:1px solid #DDDDDD; float:left; display:inline;}
#ibody_middle #comment .content{width:953px; float:left; display:inline;}
#ibody_middle #comment .content .title{width:943px; height:30px; margin-top:5px; margin-left:10px; line-height:30px; float:left; display:inline;}
#ibody_middle #comment .content .context{width:943px; margin-top:10px; margin-left:10px; padding-bottom:5px; line-height:20px; float:left; display:inline;}
#ibody_middle #comment img{margin-top:5px; cursor:pointer;}
#ibody_middle .aboutcontent{width:953px; margin-top:5px; margin-bottom:10px; margin-left:20px; float:left; display:inline;}
#ibody_middle .aboutcontent .content{width:916px; height:20px; margin-left:10px; line-height:20px; overflow:hidden; float:left; display:inline;}
#ibody_middle .aboutcontent .content a{color:#000000; font-size:14px; text-decoration:none;}
#ibody_middle .aboutcontent #fqbq{width:953px; margin-top:5px; margin-left:14px; float:left; display:inline;}
