body {font-family:宋体; font-size:12px; color:#434343; background:#c8c8c8;  margin:0px;}
#bodys{width:1000px; padding-bottom:10px; background:url('/images/sxxx/body_bg.jpg') repeat-y; margin:0 auto; margin-top:10px;}
#ileft{width:673px; float:left; display:inline;}
#question{width:673px; height:200px; background:url('/images/zd/question_bg.jpg') no-repeat; float:left; display:inline;}
#answer{width:673px; height:355px; background:url('/images/zd/answer_bg.jpg') no-repeat; float:left; display:inline;}
#answer_result{width:673px; height:310px; background:url('/images/zd/answer_result_bg.jpg') no-repeat; float:left; display:inline;}



