body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}

#ibody{width:995px; margin:0 auto; margin-top:10px;}

#ibody_left{width:710px; border-bottom:1px solid #FFDB85; float:left; display:inline;}
#ibody_right{width:277px; float:right; display:inline;}

#l_t{width:710px; height:42px; background:url('/images/zone/dialoglist_l_t.jpg') no-repeat; float:left; display:inline;}
.l_b{width:710px; height:190px;  background:url('/images/zone/dialoglist_l_b.jpg') no-repeat; float:left; display:inline;}
.l_b .title{width:300px; height:20px; margin-top:5px; margin-left:25px; line-height:20px; font-size:14px; font-weight:bold; float:left; display:inline;}
.l_b .title a{color:#DE4900; text-decoration:none;}
.l_b .date{width:200px; height:20px; margin-top:5px; margin-right:25px; color:#666666; line-height:20px; font-size:14px; font-weight:bold; text-align:right; float:right; display:inline;}
.l_b img{width:250px; height:130px; margin-top:15px; margin-left:20px; float:left; display:inline;}
.l_b .video{width:250px; height:130px; margin-top:15px; margin-left:20px; float:left; display:inline;}
.l_b .content{width:400px; height:130px; color:#666666; font-size:14px; line-height:22px; overflow:hidden; margin-top:15px; margin-right:20px; float:right; display:inline;}

#r_t{width:277px; height:167px; background:url('/images/zone/dialoglist_r_t.jpg') no-repeat; float:right; display:inline;}
#r_b{width:275px; height:814px; margin-top:10px; background:#EBEBEB; border:1px solid #D7D7D7; float:right; display:inline;}
#r_b #title{width:242px; height:24px; padding-top:4px; padding-left:35px; font-size:14px; font-weight:bold; line-height:20px; background:url('/images/zone/dialoglist_r_b.jpg') no-repeat; float:left; display:inline;}
#r_b #content{width:232px; height:24px; background:#ffffff; float:left; display:inline;}
