body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}

#ibody{width:995px; margin:0 auto; margin-top:10px;}

#ibody_top{width:995px; height:103px; background:url('/images/zone/dialog_t.jpg') no-repeat; float:left; display:inline;}
#ibody_middle{width:995px; height:158px; margin-top:10px; background:url(/images/zone/dialog_m.jpg) no-repeat; float:left; display:inline;}
#ibody_bottom{width:995px; margin-top:10px; float:left; display:inline;}

#b_l{width:710px; float:left; display:inline;}
#b_r{width:276px; float:right; display:inline;}
#b_l_title{width:710px; height:42px; background:url('/images/zone/dialoglist_l_t.jpg') no-repeat; float:left; display:inline;}
#b_l_b{width:710px; height:1160px; float:left; display:inline;}
#b_r_t{width:276px; height:156px; float:right; display:inline;}
#b_r_t input{width:274px; height:20px; border:1px solid #D0D0D0; float:right; display:inline;}
#b_r_t textarea{width:274px; height:50px; margin-top:5px; border:1px solid #D0D0D0; float:right; display:inline;}
#b_r_title1{width:276px; height:29px; margin-top:10px; background:url('/images/zone/dialoglist_r_b.jpg') no-repeat; float:right; display:inline;}
#b_r_m{width:276px; height:535px; background:#EBEBEB; float:left; display:inline;}
#b_r_b1{width:276px; height:167px; margin-top:10px; background:url('/images/zone/dialoglist_r_t.jpg') no-repeat; float:right; display:inline;}
#b_r_title2{width:276px; height:25px; margin-top:10px; background:url('/images/zone/dialog_r_b_title2.jpg') no-repeat; float:right; display:inline;}
.b_r_b2{width:128px; height:120px; margin:5px; text-align:center; float:left; display:inline;}
.b_r_b2 a{line-height:20px; color:#000000; text-decoration:none;}