body {margin:0px; font-family:宋体; font-size:12px;  color:#000000;}

#ibody{width:995px; margin:0 auto; margin-top:10px;line-height:20px;}

#ibody_top{width:995px; height:103px; background:url('/images/zone/dialog_t.jpg') no-repeat; float:left; display:inline;}
#ibody_middle{width:995px; height:158px; margin-top:10px; background:url(/images/zone/dialog_m.jpg) no-repeat; float:left; display:inline;}
#ibody_bottom{width:995px; margin-top:10px; float:left; display:inline;}

#b_l{width:710px; float:left; display:inline;}
#b_r{width:276px; float:right; display:inline;}
#b_l_title{width:710px; height:42px; background:url('/images/zone/dialoglist_l_t.jpg') no-repeat; float:left; display:inline;}
#b_l_b{width:708px; height:1160px; border:1px solid #FFDB86; border-top:none; float:left; display:inline;}
#b_r_t{width:276px; height:156px; float:right; display:inline;}
#b_r_t input{width:274px; height:20px; border:1px solid #D0D0D0; float:right; display:inline;}
#b_r_t textarea{width:274px; height:50px; margin-top:5px; border:1px solid #D0D0D0; float:right; display:inline;}
#b_r_t button{width:60px; height:25px; color:#ffffff; margin-top:10px; line-height:20px; border:0px; background:url('/images/zone/dialog_r_t_button.jpg') no-repeat; float:right; display:inline;}
#b_r_title1{width:275px; height:29px; border-right:1px solid #D7D7D7; margin-top:10px; background:url('/images/zone/dialoglist_r_b.jpg') no-repeat; float:right; display:inline;}
#b_r_m{width:276px; height:535px; background:#EBEBEB; float:left; display:inline;}
#b_r_b1{width:276px; height:167px; margin-top:10px; background:url('/images/zone/dialoglist_r_t.jpg') no-repeat; float:right; display:inline;}
#b_r_title2{width:276px; height:25px; margin-top:10px; background:url('/images/zone/dialog_r_b_title2.jpg') no-repeat; float:right; display:inline;}
.b_r_b2{width:128px;  margin:5px; text-align:center; float:left; display:inline;}
.b_r_b2 a{line-height:20px; color:#000000; text-decoration:none;}

.border{border: 1px solid}
#dialog_desc{width:785px;height:90px; line-height:20px; display:inline;float:left;margin-left:10px;margin-top:50px;padding:5px;}
#dialog_leader{width:160px;height:90px; line-height:20px;display:inline;float:right;margin-right:5px;margin-top:50px;padding:5px; color:#C02500;}
#div_question{width:585px;height:240px;float:left;margin-top:5px;overflow-y:auto; overflow-x:hidden;}
#div_leader{width:115px;height:240px;float:left;border:1px solid gray;margin-top:5px;overflow-y:auto; overflow-x:hidden;}
#div_online_leader{width:100px; border-bottom:solid 1px;}
.question_list{width:545px; margin:5px;margin-left:15px;}
.question_list .question_index{color:blue}
.question_list .question_writer{color:#DE4900;margin-left:3px;}
.question_time{color:gray}

#div_add_question{width:685px;height:150px;margin-left:10px; margin-top:8px; border-bottom:solid 1px #FFDB85;border-top:solid 1px #FFDB85;float:left;}
#writer{margin-top:10px;width:400px; color:#9A9A9A}
#div_question_content{margin-top:5px;width:575px;float:left;}
#div_submit_q{float:left;margin-top:10px;margin-left:10px;}
#div_q_emotion img{margin-left:5px;}

#answer_title{ margin-left:15px; margin-top:10px;width:680px; height:19px; background:url('/images/zone/dialog_q_title.jpg') no-repeat; float:left; }
#div_answer_list{margin-left:10px; margin-top:5px; width:685px; height:700px;float:left; overflow-y:scroll; overflow-x:hidden; border:solid 3px #FFDB86;}
#div_answer_list_innerbox{width:660px;margin-left:5px;margin-top:5px;border:#CCCCCC solid 1px;min-height:680px;}
.answer_question{width:654px; background-color:#FFF2E1; padding:3px; overflow:auto;word-break:break-all;}
.answer_question_index{color:#0000FF;}
.answer_answer{ text-indent:40px;}
