body {margin:0px; font-family:宋体; font-size:12px; line-height:0px; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}
p{margin:0px; padding:0px;}

#ibody{width:995px; margin:0 auto; margin-top:3px;line-height:20px;}

#ibody_top{width:995px; float:left; display:inline;}
#ibody_middle{width:995px; height:158px; margin-top:3px; background:url(/images/zone/dialog_m.jpg) no-repeat; float:left; display:inline;}
#ibody_bottom{width:995px; margin-top:10px; float:left; display:inline;}

#b_l{width:710px; float:left; display:inline;}
#b_r{width:276px; float:right; display:inline;}
#b_l_title{width:710px; height:42px; background:url('/images/zone/dialog_l_t.jpg') no-repeat; float:left; display:inline;}
#b_l_b{width:708px; padding-bottom:10px; border:1px solid #FFDB86; border-top:none; float:left; display:inline;}
#b_r_t{width:276px; padding-bottom:10px; float:right; display:inline;}
#b_r_t input{width:274px; height:20px; border:1px solid #D0D0D0; float:right; display:inline;}
#b_r_t textarea{width:274px; height:50px; margin-top:5px; border:1px solid #D0D0D0; float:right; display:inline;}
#b_r_t button{width:60px; height:25px; color:#ffffff; margin-top:10px; line-height:20px; border:0px; background:url('/images/zone/dialog_r_t_button.jpg') no-repeat; float:right; display:inline;}
#b_r_title1{width:275px; height:29px; border-right:1px solid #D7D7D7; margin-top:10px; background:url('/images/zone/dialoglist_r_b.jpg') no-repeat; float:right; display:inline;}
#b_r_m{width:276px; height:535px; background:#EBEBEB; float:left; display:inline;}
#b_r_b1{width:276px; height:167px; margin-top:10px; background:url('/images/zone/dialoglist_r_t.jpg') no-repeat; float:right; display:inline;}
#b_r_title2{width:246px; height:22px; margin-top:10px; padding-top:3px; padding-left:30px; background:url('/images/zone/dialog_r_b_title2.jpg') no-repeat; float:right; display:inline;}
#b_r_title2 a{mfont-size:13px; font-weight:bold; color:#000000; text-decoration:none;}
.b_r_b2{width:125px; height:122px; margin-top:10px; margin-left:5px; margin-right:5px; text-align:center; overflow:hidden; float:left; display:inline;}
.b_r_b2 a{line-height:20px; color:#000000; text-decoration:none;}

#dialog_more{margin-right:50px; margin-top:8px; font-family:黑体; font-size:30px; font-weight:bold; color:#822B0C; line-height:30px; text-decoration:none; float:right; display:inline;}
#dialog_titles{width:550px; height:30px; margin-left:200px; margin-top:5px; text-align:center; font-size:25px; font-weight:bold; color:#ff0000; line-height:30px; text-decoration:none; float:left; display:inline;}
#dialog_desc{width:785px; height:90px; margin-top:10px; padding:5px; margin-left:10px; font-size:15px; line-height:20px; overflow:hidden; float:left; display:inline; }
#dialog_leader{width:160px; height:90px; margin-top:10px; margin-right:5px; line-height:20px; padding:5px; color:#C02500; float:right; display:inline;}
#div_question{font-size:14px; width:585px; height:400px; margin-top:5px; overflow-x:hidden; overflow-y:scroll; float:left; display:inline;}
#div_leader{width:115px; height:398px; margin-top:6px; margin-left:3px; border:1px solid #808080; overflow-y:auto; overflow-x:hidden; float:left; display:inline;}
#div_online_leader{width:100px; border-bottom:solid 1px; margin-left:2px;}
.question_list0{width:545px; margin:5px;margin-left:15px;}
.question_list1{width:545px; margin:5px;margin-left:15px;background-color:#FFF2E1}
.question_list .question_index{color:blue}
.question_list .question_writer{color:#DE4900;margin-left:3px;}
.question_time{color:gray}

#div_add_question{width:685px; height:150px; margin-left:10px; margin-top:8px; border-bottom:solid 1px #FFDB85; border-top:solid 1px #FFDB85; float:left; display:inline;}
#writer{margin-top:10px;width:400px; color:#9A9A9A}
#div_question_content{margin-top:5px;width:575px;float:left;}
#div_submit_q{float:left;margin-top:10px;margin-left:10px;}
#div_q_emotion img{margin-left:5px;}

#answer_title{ margin-left:15px; margin-top:10px;width:680px; height:19px; background:url('/images/zone/dialog_q_title.jpg') no-repeat; float:left; }
#div_answer_list{ width:685px; height:600px; margin-left:10px; margin-top:5px; padding-bottom:5px; overflow-y:scroll; overflow-x:hidden; border:solid 3px #FFDB86; float:left; display:inline;}
#div_answer_list_innerbox{font-size:14px;width:460px;margin-left:5px;margin-top:5px;border:#CCCCCC solid 1px;min-height:680px;}
.answer_question{width:630px; margin-bottom:5px; padding:15px; background-color:#FFF2E1; word-break:break-all; float:left; display:inline;}
.answer_question_index{color:#0000FF;}
.answer_answer{width:630px; padding:15px; padding-top:5px; float:left; display:inline;}
.span_a{cursor:pointer;}

#comment_list_box{width:263px; height:520px; margin-top:3px; margin-left:7px; background:#FFFFFF; overflow-x:hidden; overflow-y:scroll; float:left; display:inline;}
.comment_list_item{width:240px; border-bottom:1px solid; margin-top:5px; margin-left:4px; float:left; display:inline;}
.comment_list_writer{color:#3366FF;}
.comment_list_time{text-align:right;color:#999999}

#comment_emotion img{margin-left:5px;}
.div_emotion img{margin-left:5px;}
.q_comment_item {width:654px; margin-top:5px;}
#q_comment_list{border:1px groove #999999;padding:10px; min-height:300px;}
.comment_question{background-color:#999999}

#video{width:685px; margin-top:10px; margin-left:10px; text-align:center; float:left; display:inline;}