<include: file="header.html">
 <table width="98%" border="0" cellpadding="5" cellspacing="1" align="center" class="table_border" style="margin-bottom: 10px;margin-top: 10px;">
	<tr > 
      <td colspan="2" class="table_td1">
	  <B><A HREF="privilege.do">权限管理</A> -&gt; 查看记录</B>
	  </td>
    </tr>
<include file="block.error.html"/>
</table>   


<table width="98%" border="0" cellpadding="5" cellspacing="1" class="table_border" align="center">
<tr>
	<td colspan="2" class="table_header">查看权限信息</td>
</tr>

<tr>
	<td class="table_td1" width="200">PID：</td>
	<td class="table_td2">[$RecordInfo.PID]</td>
</tr>
<tr>
	<td class="table_td1" width="200">权限名称：</td>
	<td class="table_td2">[$RecordInfo.PrivilegeName]</td>
</tr>
<tr>
	<td class="table_td1" width="200">权限唯一标识名：</td>
	<td class="table_td2">[$RecordInfo.PrivilegeUID]</td>
</tr>
</table>
<include: file="footer.html">
</body>
</html>