<var name="News_MainNodeID" value="2" /><!--#CW#定义新闻频道主结点ID号#CW#-->
<var name="News_AllNodeID" value="3,4,5,6,7,8,9,10,11,12,13" /><!--#CW#指定在新闻频道所有文章中调用时，比如新闻频道最新新闻，新闻频道最热门新闻时，需要调用的结点号#CW#-->

<var name="Photo_MainNodeID" value="26" /><!--#CW#定义图片频道主结点ID号#CW#-->
<var name="Photo_AllNodeID" value="27,28,29,30,31,32,33,34,35" /><!--#CW#指定在图片频道所有图片中调用时，比如图片频道最新图片，图片频道最热门图片时，需要调用的结点号#CW#-->

<var name="Movie_MainNodeID" value="42" /><!--#CW#影视频道主结点ID号#CW#-->
<var name="Movie_AllNodeID" value="43,44,45,46,47,48,49,50,51,52" /><!--#CW#指定在影视频道所有影视中调用时，比如影视频道最新影视，影视频道最热门影视时，需要调用的结点号#CW#-->

<var name="Gqxx_MainNodeID" value="53" /><!--#CW#供求频道主结点ID号#CW#-->
<var name="Gqxx_AllNodeID" value="54,55,56,57,58" /><!--#CW#指定在供求频道所有供求中调用时，比如供求频道最新供求，供求频道最热门供求时，需要调用的结点号#CW#-->

<var name="Prod_MainNodeID" value="36" /><!--#CW#产品频道主结点ID号#CW#-->
<var name="Prod_AllNodeID" value="37,38,39,40,41" /><!--#CW#指定在产品频道所有产品中调用时，比如产品频道最新产品，产品频道最热门产品时，需要调用的结点号#CW#-->

<var name="Download_MainNodeID" value="14" /><!--#CW#产品频道主结点ID号#CW#-->
<var name="Download_AllNodeID" value="all-14" /><!--#CW#指定在产品频道所有产品中调用时，比如产品频道最新产品，产品频道最热门产品时，需要调用的结点号#CW#-->

<var name="Flash_NodeID" value="60" /><!--#CW#FLASH幻灯片结点ID号#CW#-->