body {
	margin:0;
	padding:0;
}

#ibody{width:950px; margin:0 auto; padding:30px;}

#top{width:725px; height:100px; margin:0 auto; background:url(/images/answer/kxfzg.jpg) no-repeat;}
#time{width:30px; height:28px; margin-top:30px; margin-left:150px; padding-top:15px; padding-left:15px; background:url(/images/answer/bg3.jpg) no-repeat; float:left; display:inline;}
#point{width:76px; height:35px; margin-top:40px; margin-left:500px; padding-top:15px; padding-left:30px; background:url(/images/answer/bg2.jpg) no-repeat; float:left; display:inline;}

#middle{width:636px; margin-left:150px; border:2px solid #F2F2F2; float:left; display:inline; }
#middle #question_title{width:550px; height:20px; margin-top:30px; margin-left:50px; float:left; display:inline; font-size:15px; font-weight:bold; color:#D5273E; line-height:20px;}
#middle .question_option{width:500px; height:20px; margin-top:10px; margin-left:50px; line-height:15px; float:left; display:inline;}

#bottom{width:950px; float:left; display:inline;}
#bottom #submit{width:152px; height:27px; background:url(/images/answer/submit.gif); float:left; display:inline;}
