body {margin:0px; font-family:ו; font-size:12px; color:#000000;}
ul{margin:0px; padding:0px;}
li{margin:0px; list-style-type:none;}
p{margin:0px; padding:0px;}

#ibody{width:995px; margin:0 auto; margin-top:10px; padding-bottom:20px; line-height:20px;  background:url('/images/search_top.gif') no-repeat;}

#search_box{margin-left:10px; margin-top:8px;}
.date_jquery{width:75px;height:16px;}
#submit{border:1px #0000FF solid;background-color:#D4D0C8;line-height:20px; font-size:larger;cursor:pointer;}
#search_result{margin-top:10px;margin-left:30px;}
#search_result li{list-style-type:disc; margin-top:15px; line-height:20px; font-size:14px;}
#search_result li a{color:#000;text-decoration:none;}
#search_result span {display:inline;color:#999999}

#page{width:995px; height:30px; text-align:center; float:left; display:inline;}