body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a {FONT-FAMILY: "Verdana", "仿宋体"; TEXT-DECORATION: none;FONT-SIZE: 12px; color: #000000} 
a:hover {COLOR: #000000; TEXT-DECORATION: underline;} 
td{ font-family: Verdana, Arial, Helvetica, sans-serif,"仿宋体";font-size: 11px; border: 1px dotted #999999;}
            




