<include file="header.html" />

<script language='JavaScript'>




function checkData()
{
	with(document.ChangePassForm){
 		if(NewPassword.value=='') {
			alert("新密码不能为空");
			NewPassword.focus();
			return false;
		}
		if(NewPassword.value != NewPassword2.value) {
			alert("新密码和确认新密码不符");
			NewPassword.focus();
			return false;
		}
 	}
 }
 
</script>
<table width="90%" border="0" cellpadding="5" cellspacing="1" align="center" class="table_border">
	<tr > 
      <td colspan="2" class="table_td1">
	  <B>[$SYS_NAME] &raquo; 设置新密码</B>
	  </td>
    </tr>
<include file="block.error.html"/>
</table>   


<form name="ChangePassForm" method="post" action="getPass.do?o=reset_submit&amp;UserID=[$UserInfo.UserID]&amp;ACODE=[$ACODE]" >
   <table width="90%" border="0" align="center" cellpadding="5" cellspacing="1" class="table_border">
     <tr class="table_td1" width="20%"> 
      <td>用户名：</td>
      <td> [$UserInfo.UserName]</td>
    </tr>
   <tr class="table_td1"> 
      <td>新密码：</td>
      <td> <input name="NewPassword" type="password"  ></td>
    </tr>
	 <tr class="table_td1"> 
      <td>确认新密码：</td>
      <td> <input name="NewPassword2" type="password"  ></td>
    </tr>
    <tr class="table_td2"> 
      <td>&nbsp;</td>
      <td> <INPUT TYPE="hidden" name="referer" value="[$referer]">
	  <input name="submit" type="submit" id="submit" value=" 确 认 " onclick="return checkData();"></td>
    </tr>  </table>
</form>
<include file="footer.html"/>
</body>
</html>
