<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>

<if test="!empty($Title)">
[$Title] -- CMSware官方供求信息
<else>
[$NodeInfo.Name] -- CMSware官方供求信息
</if>

</title>
<link href="[$SKIN_URL]gqxx/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="news_nav">
	<a href="#">滚动</a> | <a href="#">排行</a> | <a href="#">国内</a> | <a href="#">国际</a> | <a href="#">社会</a> | <a href="#">军事</a> | <a href="#">历史</a> | <a href="#">访谈</a> | <a href="#">深度</a> | <a href="#">探索</a> | <a href="#">论坛</a> | <a href="#">中心</a> | <a href="#">没有了</a>
</div>