@charset "gb2312";
/* CSS Document */

body{
margin:0;
padding:0;
width:100%;
height:100%;
}

a{text-decoration:none; color:#0487AF; font-weight:normal;}

.main{
 witdh:971px;
 height:850px;
 margin-left:auto;
 margin-right:auto;
}

.top{
	
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
		width:971px;
	height:159px;
	background:url(pic/1.jpg) no-repeat;
}
.nav{
width:971px;
height:64px;
	margin-left:auto;
	margin-right:auto;}

#MAIN_1{
	width:971px;
	height:724px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	background: url(pic/index_top_1.png) repeat-x top;
}

#left_c{
float:left;
margin-left:0px;
margin-top:12PX;
width:221px;
height:502px;
}

.left_1{ width:214px;
height:210px;
margin-left:7px;
background-image:url(pic/index_r_1.png);
}

.rearch{
width:206px;
height:48px;
margin-top:16px;
margin-left:11px;
background-image:url(pic/search.png);
}

.link{
width:214px;
height:90px;
margin-left:7px;
background:url(pic/index_r_l.png) no-repeat;
}

.count{
width:214px;
height:138px;
padding-top:30px;
font-size:12px;
line-height:20px;
margin-left:7px;
background: url(pic/index_count.png) no-repeat;
}

.right_c{
float:right;
width:227px;
height:494px;
margin-top:21px;
}

.pic{
width:212px;
height:188px;
}
.share{
 width:227px;
 height:144px;
 margin-top:9px;
}

.share_top{
width:207px;
height:30px;
padding-top:4px; padding-left:5px; 
font-weight:bold; font-size:14px; color:#fff;
background:url(pic/index_lm_bg.png) repeat-x ;}

.r_border{
	width:212px;
	height:106px;
	padding-top:4px;
	font-size:12px;
	background:url(pic/index_l_nr.png) no-repeat;
}
.right_content{
	width:205px; height:12px;
	margin-top:3px;
	float:left; display:inline;
	font-size:12px; font-weight:bold; line-height:15px;
	overflow:hidden;
}

.center{
margin-left:232px;
width:502px;
height:515px;

}
.center_mq{
width:490px;
height:21px;
}

.center_pic{
width:501px;
height:188px;}

.center_main{
width:501px;
height:144px;}

.center_lm{
width:496px;
height:30px;
margin-top:9px; padding-top:4px; padding-left:5px; 
font-weight:bold; font-size:14px; color:#fff; line-height:15px;
background:url(pic/index_lm_bg.png) repeat-x;}

.center_content{
	width:350px; height:12px;
	margin-top:3px;
	float:left; display:inline;
	font-size:12px; font-weight:bold; line-height:15px;
	overflow:hidden;
}

.con_time{
	width:140px; height;20px;
	margin-top:3px;
	float:left; display:inline;
	font-size:12px; 
}

.more{
	margin-right:17px;
	float:right; display:inline; 
	font-size:15px;
}

.center_nr{
	width:496px;
	height:107px;
	padding-top:3px; padding-left:5px;
	background:url(pic/index_c_nr.png) no-repeat;
}
.center_nr li{width:350px;}


.siteinfo{
margin-top:1px;
margin-left:auto;
margin-right:auto;
width:971px;
height:108px;
background:url(pic/siteinfo.png);
}
