@charset "gb2312";
/* CSS Document */

body{
margin:0;
padding:0;
width:100%;
height:100%;}

.main{
 width:971px;
 margin-left:auto;
 margin-right:auto;

}

.top{
	width:971px;
	height:159px;
	background:url(pic/1.jpg) no-repeat;
}

.nav{
width:971px;
height:64px;
background:#E1F0F7;
}

.submain{
width:971px;
background:url(pic/container_bg.jpg) repeat-x;
margin:auto;
}

.sub_l{
float:left;
width:172px;
background:url(pic/nav_hr.jpg) repeat-y right top;
margin-top:15px;
}

.sub_right{
margin-right:20px;
float:right;
width:760px;
margin-top:20px;
}
.sub_right a{ 
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#000;
			  line-height:130%;}

.siteinfo{
margin-top:1px;
margin-left:auto;
margin-right:auto;
width:971px;
height:108px;
background:url(pic/siteinfo.png);
}

.btn{
width:134px;
height:28px;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:5px;}

.btn1{
width:134px;
height:28px;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:5px;
}
