@charset "utf-8";
/* CSS Document */

body{
margin:0;
padding:0;
width:100%;
height:100%;}

.main{
 width:971px;
 margin-left:auto;
 margin-right:auto;
}

.top{
	width:971px;
	height:159px;
	background:url(pic/1.jpg) no-repeat;
}

.nav{
width:971px;
height:64px;}

.submain{
width:971px;
}

.sub_l{
float:left;
width:172px;
background:url(pic2/sub_l.png) no-repeat;}

.sub_right{
margin-left:172px;
width:790px;
background:url(pic2/sub_r.png) no-repeat;}

.siteinfo{
margin-top:1px;
margin-left:auto;
margin-right:auto;
width:971px;
height:108px;
background:url(pic/siteinfo.png);
}

.btn{
width:134px;
height:28px;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:50px;}

.btn1{
width:134px;
height:28px;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:5px;
}