.m-t {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}
.nr-d {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.m-m {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: 497f16;
	text-decoration: none;
}
.blue {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #0072CA;
	text-decoration: none;
}
.green {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #4FAE1E;
	text-decoration: none;
}
.yel {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #FF8D00;
	text-decoration: none;
}
.gry {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #5976A0;
	text-decoration: none;
}
.grr {
	font-family: "宋体";
	font-size: 12px;
	color: #999999;
}
.gre-nr {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #4EAD1B;
	text-decoration: none;
}
.whi {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
.bbb {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #666666;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.td1 {
	margin: 0px;
	width: 0px;
	border: 1px solid #8BC344;
	font-family: "宋体";
	font-size: 13px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.wz {
	font-size: 13px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
}
.btt {
	font-family: "宋体";
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #F48100;
	text-decoration: none;
}



a:link {
	text-decoration: none;
}
.btd {
	font-family: "宋体";
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

.short2{width:200px; height:20px; overflow:hidden; float:left; display:inline;}
.short{width:220px; height:20px; overflow:hidden; float:left; display:inline;}
.long{width:280px; height:20px; overflow:hidden; float:left; display:inline;}
