
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[$SITE_NAME] - [$NodeInfo.Name]</title><!--#CW#站点名称$SITE_NAME可在CMSWARE后台-系统管理-模板变量设置中设置,$NodeInfo.Name是本模板所在结点的结点名称#CW#-->
<link href="[$SKIN_URL]member/css/style.css" rel="stylesheet" type="text/css" /><!--#CW#模板资源路径[$SKIN_URL]可在CMSWARE后台-系统管理-模板变量设置中设置#CW#-->
<link href="[$SKIN_URL]common/css/style.css" rel="stylesheet" type="text/css" />
</head>
<include file="TplConfig.html" /><!--#CW#将模板配置文件包含进本模板，以便调用其中设置的参数#CW#-->

<body>
<include file="../common/header.html" />

<div class="news_nav">
	&nbsp;&nbsp;
	&nbsp;&nbsp;
</div>
<div class="content">
	<div class="left">
        <!--左边样式1-->

		<div class="topside01">
			<div class="topside01_l">&nbsp;</div>
			<div class="topside01_c">&nbsp;</div>
			<div class="topside01_r">&nbsp;</div>
		</div>
		<div class="center01">
		    <CMS action="NODELIST" return="List" Type="set" NodeID="{$Custom1}" />
			<loop name="List" var="var" key="key" start="1">
			<div class="focus"><font  color="#66CC33">[$var.NodeName]</font></div>
			</loop>
			<div class="morefocuslink"></div>
          	<div class="sonfocus">
			
<!--这里面是调用会员中心四个栏目结点下的内容，根据不同的结点和条件来调出内容-->	
<CMS action="NODE" return="NodeVar" NodeID="self" />
<if test="$Custom2==1">

<CMS action="LIST" return="List" where="c.GqType='1'" NodeID="all-{$Custom1}" Num="page-15" OrderBy="PublishDate"  order="DESC" />
<loop name="List" var="var" key="key" start="1">
<div id="xxfb_list"> 
<div id="xxfb_list_l">&nbsp;[<a href="[$var.NodeInfo.URL]" target="_blank"><font color="#FF6600">[$var.NodeInfo.Name]</font></a>]&nbsp;
<A title="[$var.Title]" href="[$var.URL]" target=_blank>[$var.Title]</A></div>
<div id="mem1_xxfb_list_r">[[@date('Y-m-d', $var.PublishDate)]]</div>
<div id="mem1_xxfb_list_edit"><a target="_self" href="[$PUBLISH_URL]content_v.php/[$Gqxx_edit_IndexID],0,[$var.IndexID].html"><font color="#FF0000">[编]</font></a></div>
<div id="mem1_xxfb_list_del"><a target="_self" href="[$PUBLISH_URL]content_v.php/[$Gqxx_del_IndexID],0,[$var.IndexID].html"><font color="#FF0000">[删]</font></a></div>
</div>
</loop>

<elseif test="$Custom2==2">

<CMS action="LIST" return="List" where="c.GqType='2'" NodeID="all-{$Custom1}" Num="page-15" OrderBy="PublishDate"  order="DESC" />
<loop name="List" var="var" key="key" start="1">
<div id="xxfb_list"> 
<div id="xxfb_list_l">&nbsp;[<a href="[$var.NodeInfo.URL]" target="_blank"><font color="#FF6600">[$var.NodeInfo.Name]</font></a>]&nbsp;
<A title="[$var.Title]" href="[$var.URL]" target=_blank>[$var.Title]</A></div>
<div id="mem1_xxfb_list_r">[[@date('Y-m-d', $var.PublishDate)]]</div>
<div id="mem1_xxfb_list_edit"><a target="_self" href="[$PUBLISH_URL]content_v.php/[$Gqxx_edit_IndexID],0,[$var.IndexID].html"><font color="#FF0000">[编]</font></a></div>
<div id="mem1_xxfb_list_del"><a target="_self" href="[$PUBLISH_URL]content_v.php/[$Gqxx_del_IndexID],0,[$var.IndexID].html"><font color="#FF0000">[删]</font></a></div>
</div>
</loop>

<else>

<CMS action="LIST" return="List" where="c.Author='{$UserInfo.UserName}'" NodeID="all-{$Custom1}" Num="page-15" OrderBy="PublishDate"  order="DESC" />
<loop name="List" var="var" key="key" start="1">
<div id="xxfb_list"> 
<div id="xxfb_list_l">&nbsp;<A title="[$var.Title]" href="[$var.URL]" target=_blank>[$var.Title]</A></div>
<div id="mem1_xxfb_list_r">[[@date('Y-m-d', $var.PublishDate)]]</div>
<div id="mem1_xxfb_list_edit"><a target="_self" href="[$PUBLISH_URL]content_v.php/[$Gqxx_edit_IndexID],0,[$var.IndexID].html"><font color="#FF0000">[编]</font></a></div>
<div id="mem1_xxfb_list_del"><a target="_self" href="[$PUBLISH_URL]content_v.php/[$Gqxx_del_IndexID],0,[$var.IndexID].html"><font color="#FF0000">[删]</font></a></div>
</div>
</loop>

</if>

  	  	    </div>
			</div>
		<div class="bottomside01">
			<div class="bottomside01_l">&nbsp;</div>
			<div class="bottomside01_c">&nbsp;</div>
			<div class="bottomside01_r">&nbsp;</div>
		</div>
		
		<!--左边样式2-->
        <div class="topside02">
			<div class="topside02_l">&nbsp;</div>
			<div class="topside02_c">&nbsp;</div>
			<div class="topside02_r">&nbsp;</div>
		</div> 
		<div class="center02">
       		<div class="xxfb_list_page">页次：
<FONT color="red"><B>[$PageInfo.CurrentPage]</FONT>/<B>[$PageInfo.TotalPage]</B>&nbsp;&nbsp;每页<B>15</B>&nbsp;&nbsp;共<B>[$PageInfo.TotalNum]</B>&nbsp;&nbsp;
							  分页：
[@list_page( $PageInfo.TotalPage, $PageInfo.CurrentPage, $PageInfo.URL)] </div>
		</div>
		<div class="bottomside02">
			<div class="bottomside02_l">&nbsp;</div>
			<div class="bottomside02_c">&nbsp;</div>
			<div class="bottomside02_r">&nbsp;</div>
		</div>
		

</div>


	<!--右边列开始-->
	<include file="right_list.html">
	
</div>

<div class="content"></div>


<include file="../common/footer.html" />
</body>
</html>