body {
	
}
#pos1{width:30%;float:left;}
#right_box{width:60%;float:right;}
#pos2{width:93%;float:left;margin-top:10px;}
#pos3{width:45%;float:left;margin-top:10px;}
#pos4{width:45%;float:left;margin-top:10px;}
#pos5{margin-top:10px;width:93%;}
#pos6{width:45%;float:left;margin-top:10px;}
#pos7{width:45%;float:left;margin-top:10px;}
#pos8{margin-top:10px;width:93%;}
#menu{width:100%;margin-bottom:10px;}

#sub2_tl{width:30%;float:left;}
#sub2_tc{width:30%;float:left;}
#sub2_tr{width:30%;float:left;}
#sub2_m{width:93%;float:left;margin-top:10px;}
#sub2_bl{width:45%;float:left;margin-top:10px;}
#sub2_br{width:45%;float:left;margin-top:10px;}
