<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
<if test="!empty($Title)">
[$Title]
<else>
[$NodeInfo.Name]
</if>

</title>
<meta name="description" content="CMSware 让你自由自在地做网站" />
<link type="text/css" href="[$Skin_Images]pale_blue_skin/css/css.css" rel="stylesheet"  />
<script type="text/javascript" src="[$Skin_Images]pale_blue_skin/Js/exlink.js"></script>
</head>
<body>
<!--{{{初始化结点信息数组--->
<CMS action="NODE" return="NodeInfo" />
<!--}}}--->
  
<div id="header">

<div id="top">
	<div id="top_flot">
	<p id="calendar">
	<script type="text/javascript" src="[$Skin_Images]pale_blue_skin/Js/date.js">
	</script> CMSware
	</p>
	<p id="banner">
	<img title="广告条" src="[$Skin_Images]pale_blue_skin/images/cmsware_banner.jpg" />
</p>     
	</div>

	<div id="logo">
	<img alt="logo" src="[$Skin_Images]pale_blue_skin/images/newlogo.gif" />
	</div>
</div>

<div id="nav">
	<ul>
	<CMS action="NODELIST" return="List" Type="sub" NodeID="0" />
	<loop name="List" key="key" var="var" >
	<if test="$var.NodeGUID=='com.cmsware.demo.flash'">
	<li id="sel"><a href="[$var.NodeURL]" title="[$var.NodeName]"><span>[$var.NodeName]</span></a></li>
	<else>
	<li><a href="[$var.NodeURL]" title="[$var.NodeName]"><span>[$var.NodeName]</span></a></li>
	</if>

	</loop>
	</CMS> 
	</ul>
</div>
<div id="sub_nav">
<CMS action="NODELIST" return="List" Type="sub" NodeGUID="com.cmsware.demo.flash" ignore="18,17" />
	<loop name="List" key="key" var="var" >
	<if test="$key == 0">
		<if test="$var.NodeID == $NodeInfo.NodeID">
			<a href="[$var.NodeURL]" title="[$var.NodeName]"><B>[$var.NodeName]</B></a>
		<else>
			<a href="[$var.NodeURL]" title="[$var.NodeName]">[$var.NodeName]</a>
		</if>
 	<else>
		<if test="$var.NodeID == $NodeInfo.NodeID">
 | <a href="[$var.NodeURL]" title="[$var.NodeName]"><B>[$var.NodeName]</B></a>
		<else>
 | <a href="[$var.NodeURL]" title="[$var.NodeName]">[$var.NodeName]</a>
		</if>

	</if>

	</loop>
 </div>

</div> 
<div id="main">
<div id="u_place">
您的位置:
<loop name="NodeInfo.Navigation" key="key" var="var" >
<if test="$key == 0" >
<A href=" [$var.URL] "> [$var.Name] </A> 
<else>
→ <A href=" [$var.URL] "> [$var.Name] </A>
</if> 
</loop>
<if test="$Title != ''">
→ [$Title] 
</if>
</div>