<var name="PhotoTableID" value="3" /><!--#CW#-- 模型ID--#CW#-->
<var name="MainSubNavigate" value="inc/PhotoSubNavigate.html" /><!--#CW#-- 指定频道附加导航--#CW#-->

<!--#CW#--index.html--#CW#-->
<!--#CW#--  首页各栏目的列表 --#CW#-->
<var name="MainNodeID" value="26" /><!--#CW#-- 频道主节点ID--#CW#-->
<var name="Index_Main_Type" value="sub" /><!--#CW#-- 频道子节点调用类型 --#CW#-->
<var name="MainNodeID_Ignore" value="" /><!--#CW#-- 指定频道下不调出的列表节点--#CW#-->

<!--#CW#--  左边一周热图调用  --#CW#-->
<var name="Index_LeftHot_NodeID" value="all-26" /><!--#CW#-- 一周热图调用节点 --#CW#-->
<var name="Index_LeftHot_Num" value="10" /><!--#CW#-- 一周热图调用数目 --#CW#-->
<var name="Index_LeftHot_OrderBy" value="Hits_Week" /><!--#CW#-- 一周热图按一周的点击数目 --#CW#-->

<!--#CW#--  左边推荐调用  --#CW#-->
<var name="Index_LeftPink_NodeID" value="all-26" /><!--#CW#-- 推荐调用的节点 --#CW#-->
<var name="Index_LeftPink_Num" value="10" /><!--#CW#-- 推荐调用的数目 --#CW#-->
<var name="Index_LeftPink_where" value="i.Pink = 1" /><!--#CW#-- 推荐调用的条件为精华为1 --#CW#-->

<!--#CW#--  左边总点击排行调用  --#CW#-->
<var name="Index_LeftHits_Total_NodeID" value="all-26" /><!--#CW#-- 总点击排行的节点 --#CW#-->
<var name="Index_LeftHits_Total_Num" value="10" /><!--#CW#-- 总点击排行的数目 --#CW#-->
<var name="Index_LeftHits_Total_OrderBy" value="Hits_Total" /><!--#CW#-- 总点击排行 --#CW#-->

<!--#CW#-- list.html   --#CW#-->
<!--#CW#--  左边本类热图调用  --#CW#-->
<var name="List_LeftHot_Num" value="10" /><!--#CW#-- 一周热图调用数目 --#CW#-->
<var name="List_LeftHot_OrderBy" value="Hits_Week" /><!--#CW#-- 一周热图按一周的点击数目 --#CW#-->
<!--#CW#--  左边本类推荐调用  --#CW#-->
<var name="List_LeftPink_Num" value="10" /><!--#CW#-- 推荐调用的数目 --#CW#-->
<var name="List_LeftPink_where" value="i.Pink =1" /><!--#CW#-- 推荐调用的条件为精华为1 --#CW#-->
<!--#CW#--  左边本类总点击排行调用  --#CW#-->
<var name="List_LeftHits_Total_Num" value="10" /><!--#CW#-- 总点击排行的数目 --#CW#-->
<var name="List_LeftHits_Total_OrderBy" value="Hits_Total" /><!--#CW#-- 总点击排行 --#CW#-->

<!--#CW#--  content.html --#CW#-->
<!--#CW#--  左边本类热图调用  --#CW#-->
<var name="Content_LeftHot_Num" value="10" /><!--#CW#-- 一周热图调用数目 --#CW#-->
<var name="Content_LeftHot_OrderBy" value="Hits_Week" /><!--#CW#-- 一周热图按一周的点击数目 --#CW#-->
<!--#CW#--  左边本类推荐调用  --#CW#-->
<var name="Content_LeftPink_Num" value="10" /><!--#CW#-- 推荐调用的数目 --#CW#-->
<var name="Content_LeftPink_where" value="i.Pink =1" /><!--#CW#-- 推荐调用的条件为精华为1 --#CW#-->
<!--#CW#--  左边本类总点击排行调用  --#CW#-->
<var name="Content_LeftHits_Total_Num" value="10" /><!--#CW#-- 总点击排行的数目 --#CW#-->
<var name="Content_LeftHits_Total_OrderBy" value="Hits_Total" /><!--#CW#-- 总点击排行 --#CW#-->

