<!--#CW#  产品模块环境变量配置文件  Add By CWTM #CW#-->
<var name="ModelName" value="产品频道" />	<!--#CW#  产品内容模型所有结点ID  Add By CWTM #CW#-->

<var name="ListPageModel" value="0" />	<!--#CW#  列表页发布模式，动态发布为"0", 静态发布为"1"。  Add By CWTM #CW#-->

<var name="pdTableID" value="4" />	<!--#CW#  产品内容模型ID  Add By CWTM #CW#-->
<var name="pdHomeNodeID" value="36" />	<!--#CW#  产品内容模型首页结点ID  Add By CWTM #CW#-->
<var name="pdAllNodeID" value="37,38,39,40,41" />	<!--#CW#  产品内容模型所有结点ID  Add By CWTM #CW#-->

<var name="PCNodeID" value="37" />	<!--#CW#  台式机节点ID  Add By CWTM #CW#-->
<var name="SVRNodeID" value="38" />	<!--#CW#  服务器节点ID  Add By CWTM #CW#-->
<var name="NBNodeID" value="39" />	<!--#CW#  笔记本节点ID  Add By CWTM #CW#-->
<var name="PRNodeID" value="40" />	<!--#CW#  打印机节点ID  Add By CWTM #CW#-->
<var name="YTNodeID" value="41" />	<!--#CW#  一体机节点ID  Add By CWTM #CW#-->

<var name="AboutPdNodeID" value="14,15,16,17,18" />	<!--#CW#  产品相关文章结点ID  Add By CWTM #CW#-->

<var name="NewsPCNodeID" value="14" />	<!--#CW#  台式机评测文章节点ID  Add By CWTM #CW#-->
<var name="NewsSVRNodeID" value="15" />	<!--#CW#  服务器评测文章节点ID  Add By CWTM #CW#-->
<var name="NewsNBNodeID" value="16" />	<!--#CW#  笔记本评测文章节点ID  Add By CWTM #CW#-->
<var name="NewsPRNodeID" value="17" />	<!--#CW#  打印机评测文章节点ID  Add By CWTM #CW#-->
<var name="NewsYTNodeID" value="18" />	<!--#CW#  一体机评测文章节点ID  Add By CWTM #CW#-->

