<var name="Gqxx_TableID" value="6" /><!--#CW#定义供求信息频道所采用的内容模型号#CW#-->
<var name="Gqxx_MainNodeID" value="53" /><!--#CW#定义供求信息频道主结点ID号#CW#-->
<var name="Gqxx_AllNodeID" value="54,55,56,57,58" /><!--#CW#指定在供求信息频道所有文章中调用时，比如供求信息频道最新信息,最热门时，需要调用的结点号#CW#-->

<var name="Gqxx_fb_IndexID" value="3" />
<var name="Gqxx_edit_IndexID" value="4" />
<var name="Gqxx_del_IndexID" value="5" />
<!--#CW# 这里是供求信息的发布、编辑和删除的三个index变量 #CW#-->

<var name="Member_index_IndexID" value="2" />
<!--#CW#  #CW#-->

<var name="Member_ckqb_IndexID" value="18" />
<!--#CW#  #CW#-->

<var name="Member_fqht_IndexID" value="16" />
<!--#CW# 会员中心发起话题的index变量 #CW#-->

<var name="Member_NewsNodeID" value="13" />
<!--#CW# 会员中心新闻投稿的结点变量 #CW#-->

<var name="Member_ckqb_0" value="0" />
<var name="Member_ckqb_1" value="1" />
<var name="Member_ckqb_2" value="2" />
<!--#CW#定义会员中心里查看全部时供求信息和其他栏目，新闻、话题的判断区别。#CW#-->


<var name="Ht_MainNodeID" value="59" />
<!--#CW# 会员中心发起话题的结点变量 #CW#-->