<var name="News_TableID" value="1" /><!--#CW#定义新闻频道所采用的内容模型号#CW#-->
<var name="News_MainNodeID" value="2" /><!--#CW#定义新闻频道主结点ID号#CW#-->
<var name="News_NavNodeIDs" value="3,4,5,6,7,8,9,10,11,12,13" /><!--#CW#定义新闻频道子栏目导航结点ID号和顺序#CW#-->
<var name="News_AllNodeID" value="3,4,5,6,7,8,9,10,11,12,13" /><!--#CW#指定在新闻频道所有文章中调用时，比如新闻频道最新新闻，新闻频道最热门新闻时，需要调用的结点号#CW#-->
<var name="Index_PhotoFocus_Pink" value="999" /><!--#CW#定义新闻频道首页图片焦点头条，需调用精华值为几的文章(该文章“新闻图片”不能为空)#CW#-->
<var name="Index_Focus_Pink" value="998" /><!--#CW#定义新闻频道首页两个大头条需调用精华值为几的文章#CW#-->
<var name="Index_SonFocus_Pink" value="997" /><!--#CW#定义新闻频道首页每个头条下方的小头条，需调用精华值为几的文章#CW#-->
<var name="Index_8rowsFocus_Pink" value="996" /><!--#CW#定义新闻频道首页头条下方的7行列表，需调用精华值为几的文章#CW#-->
<var name="Index_Left_NewsList1_Top_NodeID" value="3" /><!--#CW#设置新闻频道首页左边焦点文章以下的第一区块上部份调用哪个结点的新闻#CW#-->
<var name="Index_Left_NewsList1_Middle_NodeID" value="4" /><!--#CW#设置新闻频道首页左边焦点文章以下的第一区块中间部份调用哪个结点的新闻#CW#-->
<var name="Index_Left_NewsList1_Bottom_NodeID" value="5" /><!--#CW#设置新闻频道首页左边焦点文章以下的第一区块下部份调用哪个结点的新闻#CW#-->
<var name="Index_Left_NewsList2_NodeIDs" value="6,7" /><!--#CW#设置新闻频道首页左边焦点文章以下的第二区块调用哪些结点的新闻#CW#-->
<var name="Index_Left_NewsList3_Top_NodeID" value="8" /><!--#CW#设置新闻频道首页左边焦点文章以下的第三区块上部份调用哪个结点的新闻#CW#-->
<var name="Index_Left_NewsList3_Bottom_NodeID" value="9" /><!--#CW#设置新闻频道首页左边焦点文章以下的第三区块下部份调用哪个结点的新闻#CW#-->
<var name="Index_Left_NewsList4_NodeIDs" value="10,11" /><!--#CW#设置新闻频道首页左边焦点文章以下的第四区块调用哪些结点的新闻#CW#-->
<var name="Index_Left_NewsList5_Top_NodeID" value="12" /><!--#CW#设置新闻频道首页左边焦点文章以下的第五区块上部份调用哪个结点的新闻#CW#-->
<var name="Index_Left_NewsList5_Bottom_NodeID" value="13" /><!--#CW#设置新闻频道首页左边焦点文章以下的第五区块下部份调用哪个结点的新闻#CW#-->
<var name="Index_Middle_FirstBigPhoto_NodeID" value="3" /><!--#CW#设置新闻频道首页中间搜索条以上两区块上部分调块结点ID#CW#-->
<var name="Index_Middle_SecondBigPhoto_NodeID" value="4" /><!--#CW#设置新闻频道首页中间搜索条以上两区块下部分调用结点ID#CW#-->
<var name="Content_IsDisHits" value="1" /><!--#CW#是否在内容页显示点击数，1为显示，0为不显示，默认为显示人气#CW#-->